
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutRML</title>
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <p class="text-center"><img src="~/img/hospital-logo.png" /></p>
            
            <hr>
        </div>
        <div class="col-md-12">
            <div class="col-sm-8" id="tohide">
                <div class="col-md-12 shadow">
                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sama">

                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <h3 style="color:darkred;"><b>About RML</b></h3>
                                <p class="moto-text_system_10" style="float:left; text-align:justify">
                                    The <strong>Dr. Ram Manohar Lohia Institute of Medical Sciences (Dr. RMLIMS)</strong>, Lucknow is a super specialty hospital and one of the reputed and leading teaching Institutes established by the Government of Uttar Pradesh. Dr. RMLIMS is situated in Vibhuti Khand in Gomti Nagar locality of Lucknow. Besides super specialty treatment,the institute  provides DM, MCh, MD,MS, and Ph.D. Degrees.<br>
                                    <strong style="color: #0199CD;">Other facilities:-</strong><br>
                                    <strong>1.</strong>  It would provide holistic medical care including general care in various general,medical / surgical specialities, and in selected super specialities which are not available or grossly inadequate in this region.<br>
                                    <strong>2.</strong>  To create a center of excellence for providing patient care and educational facilities of high order.<br>
                                    <strong>3.</strong>  To provide training in para medical and allied fields.<br>
                                    <strong>4.</strong>  Patient care,educational training and research facilities will be comlementary to SGPGIMS.<br>
                                    <strong>5.</strong>  The medical Institute, with public service hospital will cater both to the poor patients who are unable to pay and to the population that has the capacity to pay on user charges at 'no profit no loss' basis.<br>
                                    <strong>6.</strong>  It will act as a secondary level as well as a selected tertiary level referral center for the poor population of this region at affordable cost.<br>
                                    <strong>7. OPD Pharmacy</strong> for drugs and medical consumables for registered patients ONLY.<br>
                                    <strong>8. PRA (Patients Relative’s Accommodation):</strong> This accommodation is available to relatives of patients admitted to the hospital, on payment basis.<br>
                                    <strong>9. Vishramalaya:</strong> This day-time facility is available for patients and relatives visiting the outpatient department, on a nominal payment (7AM to 7PM). The facility includes lockers, a place to relax, a restaurant, bathrooms, toilets, etc.<br>
                                    <strong>10. Cafeteria</strong> in hospital area for snacks and lunch.
                                </p>
                                <!--<div class="clearfix"></div>-->
                            </div>
                            <div class="moto-widget-text-content moto-widget-text-editable">
                                <br>

                            </div><br>
                        </div>
                        <div class="content">
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="col-md-4">
                <hr>
                <div class="shadow">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="active">
                                <table class="table table-bordered table-condensed">
                                    <tbody>
                                        <tr class="primary"><td colspan="3" style="text-align:center;"><strong>Important contact number for Information:- </strong></td></tr>
                                        <tr>
                                            <td><strong style="color: #0199CD; font-style:italic;">Helpline No. </strong></td>
                                            <td>
                                                0522-6663002
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong style="color: #0199CD;font-style:italic;">OPD No.</strong></td>
                                            <td>
                                                0522-6692000,001,004
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong style="color: #0199CD;font-style:italic;">Administrative Block Ph.No.</strong></td>
                                            <td>
                                                0522-4918504,514
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong style="color: #0199CD;font-style:italic;">Fax No.</strong></td>
                                            <td>
                                                0522-4918506
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong style="color: #0199CD;font-style:italic;">Mailing Address</strong></td>
                                            <td>
                                                Dr. Ram Manohar Lohia Institute of Medical Sciences, Vibhuti Khand, Gomtinagar, Lucknow. 226010.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong style="color: #0199CD;font-style:italic;">Website</strong></td>
                                            <td>
                                                <a href="" target="_blank">
                                                    https://www.drrmlims.ac.in/
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong style="color: #0199CD;font-style:italic;">E-Mail</strong></td>
                                            <td>
                                                <a href="mailto:enquiry@drrmlims.ac.in">enquiry@drrmlims.ac.in</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="blogSidebar">
                        <div class="panel panel-default">


                        </div>
                    </div>
                    <br>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
