
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HolidayList</title>
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="shadow" padding:6px;="" font-size:8px;"="">
        <br>
    </div>
    <div class="container">
        <div class="row">
            <h3 class="text-center" style="color:darkred;"><b>Holiday List</b></h3>
            <hr />
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table class="table-bordered table-hover">
                        <thead>
                            <tr>
                                <td colspan="8" class="text-center" style="background:darkred; color:#fff;"><b>LIST OF GAZETTED/RESTRICTED HOLIDAYS - 2019</b></td>
                            </tr>
                            <tr class="active" style="background:#808080; color:#fff;">
                                <td colspan="4"  class="text-center">GAZETTED HOLIDAYS YEAR - 2019</td>
                                <td colspan="4"  class="text-center">RESTRICTED HOLIDAYS - 2019</td>
                            </tr>
                            <tr class="active" style="background:#0094ff; color:#fff;">
                                <td width="40">S.No.</td>
                                <td>Holiday</td>
                                <td>Date</td>
                                <td>Days</td>
                                <td width="40">S.No.</td>
                                <td>Holiday</td>
                                <td>Date</td>
                                <td>Days</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    REPUBLIC DAY
                                </td>
                                <td>
                                    Jan-26
                                </td>
                                <td>
                                    SATURDAY
                                </td>
                                <td>1</td>
                                <td>
                                    NEW YEAR'S DAY
                                </td>
                                <td>
                                    Jan-01
                                </td>
                                <td>
                                    TUESDAY
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    MAHA SHIVARATRI
                                </td>
                                <td>
                                    Mar-04
                                </td>
                                <td>
                                    MONDAY
                                </td>
                                <td>2</td>
                                <td>
                                    LOHARI
                                </td>
                                <td>
                                    Jan-13
                                </td>
                                <td>
                                    SUNDAY
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    HOLI
                                </td>
                                <td>
                                    Mar-21
                                </td>
                                <td>
                                    THURSDAY
                                </td>
                                <td>3</td>
                                <td>
                                    MAKAR SANKRANTI PONGAL
                                </td>
                                <td>
                                    Jan-14
                                </td>
                                <td>
                                    MONDAY
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>
                                    MAHAVIR JAYANTI
                                </td>
                                <td>
                                    Apr-17
                                </td>
                                <td>
                                    WEDNESDAY
                                </td>
                                <td>4</td>
                                <td>
                                    PONGAL
                                </td>
                                <td>
                                    Jan-15
                                </td>
                                <td>
                                    TUESDAY
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>
                                    GOOD FRIDAY
                                </td>
                                <td>
                                    Apr-19
                                </td>
                                <td>
                                    FRIDAY
                                </td>
                                <td>5</td>
                                <td>
                                    BASANT PANCHAMI/SRI PANCHAMI
                                </td>
                                <td>
                                    Feb-10
                                </td>
                                <td>
                                    SUNDAY
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>
                                    BUDDHA PURNIMA
                                </td>
                                <td>
                                    May-18
                                </td>
                                <td>
                                    SATURDAY
                                </td>
                                <td>6</td>
                                <td>
                                    GURU RAVIDAS BIRTHDAY
                                </td>
                                <td>
                                    Feb-19
                                </td>
                                <td>
                                    TUESDAY
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>
                                    IDU 'L FITR
                                </td>
                                <td>
                                    Jun-05
                                </td>
                                <td>
                                    WEDNESDAY
                                </td>
                                <td>7</td>
                                <td>
                                    SHIVAJI JAYANTI
                                </td>
                                <td>
                                    Feb-19
                                </td>
                                <td>
                                    TUESDAY
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>
                                    ID-UL-ZUHA(BAKRID)
                                </td>
                                <td>
                                    Aug-12
                                </td>
                                <td>
                                    MONDAY
                                </td>
                                <td>8</td>
                                <td>
                                    SWAMI DAYANAND SARASWATI JAYANTI
                                </td>
                                <td>
                                    Mar-01
                                </td>
                                <td>
                                    THURSDAY
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>
                                    INDEPENDENCE DAY
                                </td>
                                <td>
                                    Aug-15
                                </td>
                                <td>
                                    THURSDAY
                                </td>
                                <td>9</td>
                                <td>
                                    HOLIKA DAHAN
                                </td>
                                <td>
                                    Mar-20
                                </td>
                                <td>
                                    WEDNESDAY
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>
                                    JANMASHTAMI
                                </td>
                                <td>
                                    Aug-24
                                </td>
                                <td>
                                    SATURDAY
                                </td>
                                <td>10</td>
                                <td>
                                    DOLYATRA
                                </td>
                                <td>
                                    Mar-21
                                </td>
                                <td>
                                    THURSDAY
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>
                                    MUHARRAM
                                </td>
                                <td>
                                    Sep-10
                                </td>
                                <td>
                                    TUESDAY
                                </td>
                                <td>11</td>
                                <td>
                                    HAZARAT ALI'S BIRTHDAY
                                </td>
                                <td>
                                    Mar-21
                                </td>
                                <td>
                                    THURSDAY
                                </td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>
                                    MAHATAMA GANSHI'S BIRTHDAY
                                </td>
                                <td>
                                    Oct-02
                                </td>
                                <td>
                                    WEDNESDAY
                                </td>
                                <td>12</td>
                                <td>
                                    CHITRA SUKLADI/GUDI PANDAVA /UGADI/CHETI CHAND
                                </td>
                                <td>
                                    Apr-06
                                </td>
                                <td>
                                    SATURDAY
                                </td>
                            </tr>
                            <tr>
                                <td>13</td>
                                <td>
                                    DUSSEHRA
                                </td>
                                <td>
                                    Oct-08
                                </td>
                                <td>
                                    TUESDAY
                                </td>
                                <td>13</td>
                                <td>
                                    RAM NAVAMI(SMARTA)
                                </td>
                                <td>
                                    Apr-13
                                </td>
                                <td>
                                    SATURDAY
                                </td>
                            </tr>
                            <tr>
                                <td>14</td>
                                <td>
                                    DIWALI(DEEPAWALI)
                                </td>
                                <td>
                                    Oct-27
                                </td>
                                <td>
                                    SUNDAY
                                </td>
                                <td>14</td>
                                <td>
                                    VAISAKHI/VISHU/MESADI
                                </td>
                                <td>
                                    Apr-14
                                </td>
                                <td>
                                    SUNDAY
                                </td>
                            </tr>
                            <tr>
                                <td>15</td>
                                <td>
                                    MILAD-UN-NABI OR ID-E-MILAD
                                </td>
                                <td>
                                    Nov-10
                                </td>
                                <td>
                                    SUNDAY
                                </td>
                                <td>15</td>
                                <td>
                                    VAISAKHADI(BENGAL/BAHAG)BIHU(ASSAM)
                                </td>
                                <td>
                                    Apr-15
                                </td>
                                <td>
                                    MONDAY
                                </td>
                            </tr>
                            <tr>
                                <td>16</td>
                                <td>
                                    GURU NANAK'S BIRTHDAY
                                </td>
                                <td>
                                    Nov-12
                                </td>
                                <td>
                                    TUESDAY
                                </td>
                                <td>16</td>
                                <td>
                                    EASTER SUNDAY
                                </td>
                                <td>
                                    Apr-21
                                </td>
                                <td>
                                    SUNDAY
                                </td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>
                                    CHRISTMAS DAY
                                </td>
                                <td>
                                    Nov-25
                                </td>
                                <td>
                                    WEDNESDAY
                                </td>
                                <td>17</td>
                                <td>
                                    GURU RAVINDRANATH'S BIRTHDAY
                                </td>
                                <td>
                                    May-09
                                </td>
                                <td>
                                    THURSDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                                <td>18</td>
                                <td>
                                    JAMAT-UL-VIDA
                                </td>
                                <td>
                                    May-31
                                </td>
                                <td>
                                    FRIDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center">NOTE-HOLIDAY SUBJECT TO VISIBILTY OF MOON</td>
                                <td>19</td>
                                <td>
                                    RATH YATRA
                                </td>
                                <td>
                                    Jul-04
                                </td>
                                <td>
                                    THURSDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"></td>
                                <td>20</td>
                                <td>
                                    RAKSHA BANDHAN
                                </td>
                                <td>
                                    Aug-15
                                </td>
                                <td>
                                    THURSDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"></td>
                                <td>21</td>
                                <td>
                                    PARSI NEW YEAR'S DAY /NAURAJ
                                </td>
                                <td>
                                    Aug-17
                                </td>
                                <td>
                                    SATURDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"></td>
                                <td>22</td>
                                <td>
                                    VINAYAKA CHATURTHI/GANESH CHATURTHI
                                </td>
                                <td>
                                    Sep-02
                                </td>
                                <td>
                                    MONDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"></td>
                                <td>23</td>
                                <td>
                                    ONAM OR THIRU ONAM DAY
                                </td>
                                <td>
                                    Sep-11
                                </td>
                                <td>
                                    WEDNESDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"></td>
                                <td>24</td>
                                <td>
                                    DUSSEHRA (MAHA SAPTAMI)(ADDITIONAL)
                                </td>
                                <td>
                                    Oct-05
                                </td>
                                <td>
                                    SATURDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"></td>
                                <td>25</td>
                                <td>
                                    DUSSEHRA (MAHA ASHTAMA)(ADDITIONAL)
                                </td>
                                <td>
                                    Oct-06
                                </td>
                                <td>
                                    SUNDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"></td>
                                <td>26</td>
                                <td>
                                    DUSSEHRA (MAHA NAVMI)
                                </td>
                                <td>
                                    Oct-07
                                </td>
                                <td>
                                    MONDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"></td>
                                <td>27</td>
                                <td>
                                    MAHARISHI VALMIKI'S BIRTHDAY
                                </td>
                                <td>
                                    Oct-13
                                </td>
                                <td>
                                    SUNDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"></td>
                                <td>28</td>
                                <td>
                                    KARAKA CHATURTHI(KARVA CHOUTH)
                                </td>
                                <td>
                                    Oct-17
                                </td>
                                <td>
                                    THURSDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"></td>
                                <td>29</td>
                                <td>
                                    NARKA CHATURDASI
                                </td>
                                <td>
                                    Oct-27
                                </td>
                                <td>
                                    SUNDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"></td>
                                <td>30</td>
                                <td>
                                    GOVERDHAN PUJA
                                </td>
                                <td>
                                    Oct-28
                                </td>
                                <td>
                                    MONDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"></td>
                                <td>31</td>
                                <td>
                                    BHAI DUJ
                                </td>
                                <td>
                                    Oct-29
                                </td>
                                <td>
                                    TUESDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"></td>
                                <td>32</td>
                                <td>
                                    PRATIHAR SASHTHI OR SURYA SASHTHI(CHHAT PUJA)
                                </td>
                                <td>
                                    Nov-02
                                </td>
                                <td>
                                    SATURDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"></td>
                                <td>33</td>
                                <td>
                                    GURU TEG BAHADUR'S MARTYRDOM DAY
                                </td>
                                <td>
                                    Nov-24
                                </td>
                                <td>
                                    SUNDAY
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-center"></td>
                                <td>34</td>
                                <td>
                                    CHRISTMAS EVE.
                                </td>
                                <td>
                                    Dec-24
                                </td>
                                <td>
                                    TUESDAY
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
