
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Information</title>
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="shadow" padding:6px;="" font-size:8px;"="">
        <br>
    </div>
    <div class="container">
        <div class="row">
            <h3 class="text-center" style="color:darkred;"><b>OPD Schedule</b></h3>
            <hr />
            <div class="col-md-4">
                <h5 style="color:#333232;"><b>Registration Timimgs</b></h5>
                <p>Mon - Fri : 8 AM - 1 PM</p>
                <p>Sat : 8 AM - 12 PM</p>
            </div>
            <div class="col-md-3 text-left">
                <h5 style="color:#333232;" ><b>OPD Timimgs</b></h5>
                <p>Mon - Fri : 9 AM - 2 PM</p>
                <p>Sat : 9 AM - 1 PM</p>
                
            </div>
            <div class="col-md-3 col-md-offset-1">
                <h5  class="text-left" style="color:#333232;"><b>Epilepsy clinic &amp; Movement Disorder clinic</b></h5>
                <p class="text-left">12 PM-3 PM</p>
                <hr />
            </div>
            <div class="col-md-12">
                <div class="table table-responsive">
                    <table class="table-bordered table-hover">
                        <thead>
                            <tr class="active" style="background:#0094ff; color:#fff;">
                                <td width="40">S.No.</td>
                                <td width="150">Department</td>
                                <td>Doctors</td>
                                <td>OPD Days</td>
                                <td width="150">Schedule</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="5">1</td>
                                <td rowspan="5">Cardiology</td>
                                <td>Dr. Mukul Mishra</td>
                                <td>Tue</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Bhuwan Chand Tiwari</td>
                                <td>Mon, Sat (3rd &amp; 4th)</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Sudarshan Vijay</td>
                                <td>Wed, Sat (1st, 2nd &amp; 5th)</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Naveen Jamwal </td>
                                <td>Thur</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Ashish Jha </td>
                                <td>Fri</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td rowspan="4">2</td>
                                <td rowspan="4">CTVS</td>
                                <td>Dr. S.S.Rajput</td>
                                <td>Monday, Ist, 3rd &amp; 5th Friday</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. A P Jain</td>
                                <td>Tue, 2nd &amp; 4th Friday</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. D.K. Srivastava</td>
                                <td>Wed, 1st, 3rd &amp; 5th Saturday</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Lalit Mohan Joshi</td>
                                <td>Thu, 2nd &amp; 4th Saturday</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>

                            <tr>
                                <td rowspan="4">3</td>
                                <td rowspan="4">Gastrosurgery</td>
                                <td>Dr. Anshuman Pandey</td>
                                <td>Mon, Thursday</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Shakeel Masood</td>
                                <td>Tue, Friday,2,4 Saturday (Bariatic Surgery)</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Smita Chauhan</td>
                                <td>Wed</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Anshuman Pandey/Dr. Smita Chauhan</td>
                                <td>1,3,5 Saturday (Bariatic Surgery)</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Gastro Medicine</td>
                                <td>Dr. Prashant</td>
                                <td>Tue, Fri</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td rowspan="8">5</td>
                                <td rowspan="8">Neurology</td>
                                <td>Dr. Ajai Kumar Singh <br> Dr. Dinkar Kulshrestha <br> </td>
                                <td>Mon</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. A.K. Thakkar <br> Dr. P.K. Maurya</td>
                                <td>Tue</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. A.K. Thakkar <br> Dr. Ajai Kumar Singh</td>
                                <td>1st, 3rd, 5th Wed Refractory Epilepsy clinic</td>
                                <td>12:00 PM to 3:00 PM</td>
                            </tr>
                            <tr>
                                <td>Dr. P.K.Maurya <br> Dr.Dinkar Kulshrestha</td>
                                <td>2nd &amp; 4th Wed Refractory Epilepsy clinic</td>
                                <td>12:00 PM to 3:00 PM</td>
                            </tr>
                            <tr>
                                <td>Dr. A.K. Thakkar <br> Dr. Ajai Kumar Singh</td>
                                <td>Thu</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. P.K. Maurya <br> Dr. Dinkar Kulshrestha</td>
                                <td>Fri</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Ajai Kumar Singh <br> Dr.Dinkar Kulshrestha</td>
                                <td>1st 2nd Sat Movement Disorder</td>
                                <td>12:00 PM to 3:00 PM</td>
                            </tr>
                            <tr>
                                <td>Dr. P.K. Maurya <br> Dr. Dinkar Kulshrestha</td>
                                <td>3rd 4th Muscles &amp; Nerve</td>
                                <td>12:00 PM to 3:00 PM</td>
                            </tr>
                            <tr>
                                <td rowspan="4">6</td>
                                <td rowspan="4">Neurosurgery</td>
                                <td>Dr. Deepak K Singh</td>
                                <td>Mon,Fri</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Mohd. Kaif</td>
                                <td>Tue,Sat(1st,4th)</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Rakesh Kumar Singh</td>
                                <td>Wed,Sat(3rd)</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Kuldeep Yadav</td>
                                <td>Thu, Sat (2nd,5th)</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td rowspan="6">7</td>
                                <td rowspan="6">Radiation Oncology</td>
                                <td>Dr. Madhup Rastogi</td>
                                <td>Monday</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Rahat Hadi</td>
                                <td>Tuesday</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Rohini Khurana</td>
                                <td>Wednesday</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Ajeet K Gandhi</td>
                                <td>Thursday</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Shantanu Sapru</td>
                                <td>Friday</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Madhup Rastogi <br>Dr. Rohini Khurana <br>Dr. Rahat Hadi <br>Dr. Shantanu Sapru<br>Dr. Ajeet K Gandhi</td>
                                <td>1st Saturday<br>2nd Saturday<br>3rd Saturday<br>4th Saturday<br>5th Saturday<br></td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>

                            <tr>
                                <td rowspan="3">8</td>
                                <td rowspan="3">Surgical Oncology</td>
                                <td>Dr. Ashish Singhal</td>
                                <td>Mon, Wed, Fri</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Akash Agarwal</td>
                                <td>Tue, Thu, Sat</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td> Dr Vikas Sharma</td>
                                <td>Saturday</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td rowspan="6">9</td>
                                <td rowspan="3">Urology</td>
                                <td>Dr. Ishwar Ram  Dayal</td>
                                <td>Tue, Thu</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Alok Srivastava</td>
                                <td>Mon, Wed</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr.Sanjeet Kumar Singh</td>
                                <td>Fri, Sat</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td rowspan="2">Transplant OPD</td>
                                <td>Dr.Alok Srivastava</td>
                                <td>Sat</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr.Sanjeet Kumar Singh</td>
                                <td>Sat </td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td>Uro Oncology</td>
                                <td>Dr. Ishwar Ram  Dayal</td>
                                <td>Fri</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td rowspan="1">10</td>
                                <td rowspan="1">Nephrology</td>

                                <td>Dr. Abhilash Chandra</td>
                                <td>Mon, Wed, Fri</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td rowspan="2">11</td>
                                <td rowspan="2">Nuclear Medicine</td>
                                <td>Dr. Satywati  Deshwal</td>
                                <td>Mon, Fri</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Shashwat Verma</td>
                                <td>Wed, Fri</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Medical Oncology</td>
                                <td>Dr. Gaurav Gupta</td>
                                <td>Mon, Wed, Fri</td>
                                <td>09:00AM to  02:00PM</td>
                            </tr>
                            <tr>
                                <td rowspan="2">13</td>
                                <td rowspan="2">Physical Medicine &amp; Rehab. (Room no. 46)</td>
                                <td>Dr. V.S. Gogia</td>
                                <td>Tue, Fri</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Ravi Gaur</td>
                                <td>Mon, Thu</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td rowspan="3">14</td>
                                <td rowspan="3">Emergency Medicine</td>
                                <!-- <td >Dr. Sachin Awasthi</td>
                        <td >Monday, Friday</td>
                        <td >09:00AM to 02:00PM</td> -->
                            </tr>
                            <tr>
                                <td>Dr. S.S. Tripathi</td>
                                <td>Tue</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Rajeev Ratan Singh</td>
                                <td>Thu</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td rowspan="5">15</td>
                                <td rowspan="5">Orthopaedics</td>
                                <td>Dr. Sachin Awasthi</td>
                                <td>Monday, 1st &amp; 2nd Friday</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Vineet Kumar</td>
                                <td>1st &amp; 2nd Wed</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Pankaj Agarwal</td>
                                <td>3rd,4th &amp; 5th Wed</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Swagat Mahapatra</td>
                                <td>1st,2nd &amp; 5th Sat</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Mohd. Ammar Aslam </td>
                                <td>3rd,4th &amp; 5th Fri</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td rowspan="2">16</td>
                                <td rowspan="2">Pain Clinic</td>
                                <td>Dr. Anurag Agarwal</td>
                                <td> Mon , Tue &amp; Sat </td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Shivani Rastogi</td>
                                <td>Wed , Thu</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td rowspan="3">17</td>
                                <td rowspan="3">General Medicine</td>
                                <td>Dr. P S Singh <br> Dr. Shobhit Shakya</td>
                                <td>Wed &amp; Sat </td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>
                                    Dr. Ritu Karoli<br>Dr. Nikhil Gupta
                                </td>
                                <td> Mon &amp; Fri </td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr. Vikram Singh<br> Dr. Mridu Singh</td>
                                <td>Tue &amp; Thu </td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td rowspan="1">18</td>
                                <td rowspan="1">ENT</td>
                                <td>Dr. Ashish Chandra Agarwal</td>
                                <td> Wed, Thur &amp; Fri</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr></tr>
                            <tr>
                                <td rowspan="3">19</td>
                                <td rowspan="3">General Surgery</td>
                                <td>Dr.Sanjay Kumar Bhat<br> Dr.Rohit Srivastava</td>
                                <td>Monday</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr.Priyanka Rai<br>Dr.Sunil Kumar Singh <br> Dr.Rohit Srivastava</td>
                                <td> Wednesday</td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>
                            <tr>
                                <td>Dr.Sanjay Kumar Bhat<br> Dr.Sunil Km Singh</td>
                                <td>Friday </td>
                                <td>09:00AM to 02:00PM</td>
                            </tr>



                            <!--<tr >
                     <td >16</td>
                     <td >Pain OT</td>

                     <td > Wed</td>
                     <td >01:00AM to 05:00PM</td>
                    </tr>    -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*<td width="79%" valign="top">
            <table width="99%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                        <td height="40" style="border-bottom:1px dashed #cccccc; padding-top:10px;"><span class="style1">OPD Schedule</span></td>
                    </tr>

                    <tr><td><u>Registration Timings</u><br>Mon-Fri: 8 AM - 1 PM<br>Sat : 8 AM - 12 PM </td></tr>
                    <tr><td><u>OPD Timing </u><br>Mon-Fri: 9 AM - 2 PM <br>Sat : 9 AM - 1 PM <br>Epilepsy clinic &amp; Movement Disorder clinic:12PM-3PM</td></tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong><u>OPD Schedule</u> -</strong></td>
                    </tr>
                    <tr>
                        <td height="5"></td>
                    </tr>
                    <tr>
                        <td>

                            <!-- <table border="1" cellspacing="0" cellpadding="2" align="left" width="99%">
                                                  <tr>
                                                    <td width="37" align="center" nowrap bgcolor="#efefef"><strong>S.No.</strong></td>
                                                    <td width="141" nowrap bgcolor="#efefef"><strong>Name of Department</strong></td>
                                                    <td width="183" bgcolor="#efefef"><strong>Name of Consultant</strong></td>
                                                    <td width="189" nowrap bgcolor="#efefef"><strong>Days of OPD</strong></td>
                                                  </tr>
                                                  <tr>
                                                    <td width="37" rowspan="3" align="center" valign="top" nowrap><strong>1</strong></td>
                                                    <td width="141" rowspan="3" align="left" valign="top" nowrap><strong><a href="cardiology02.php" target="_blank">Cardiology</a></strong></td>
                                                    <td width="183">Dr. Mukul Misra, Professor</td>
                                                    <td width="189" nowrap>Tue,Fri</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. Bhuwan Chand Tiwari, Associate Professor</td>
                                                    <td width="189" nowrap>Mon,Thurs</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. Sudarshan Vijay, Assistant Professor</td>
                                                    <td width="189" nowrap>Wed,Sat</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="37" rowspan="4" align="center" valign="top" nowrap><strong>2</strong></td>
                                                    <td width="141" rowspan="4" align="left" valign="top" nowrap><strong><a href="cvts1.php" target="_blank">CTVS</a></strong></td>
                                                    <td width="183">Dr S.S. Rajput, Professor</td>
                                                    <td width="189" nowrap>Mon &amp; 1st,3rd,5th Friday</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. A.P. Jain, Associate Professor</td>
                                                    <td width="189" nowrap>Tue,2nd &amp; 4th Fri</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. D.K. Srivastava, Associate Professor</td>
                                                    <td width="189" nowrap>Wed,1st,3rd,5th Sat</td>
                                                  </tr>

                                                    <td width="183">Dr. Lalit Mohan Joshi, Assistant Professor</td>
                                                    <td width="189" nowrap>2nd &amp; 4th Sat,Thu</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="37" rowspan="2" align="center" valign="top" nowrap><strong>3</strong></td>
                                                    <td width="141" rowspan="2" align="left" valign="top" nowrap><strong><a href="gastrosurgery.php" target="_blank">Gastrosurgery</a></strong></td>
                                                    <td width="183">Dr. Anshuman Pandey, Associate Professor</td>
                                                    <td width="189" nowrap>Mon,Fri</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. Shakeel Masood, Associate Professor</td>
                                                    <td width="189" nowrap>Tue,Thurs</td>
                                                  </tr>

                                                  <tr>
                                                    <td width="37" align="center" valign="top" nowrap><strong>4</strong></td>
                                                    <td width="141" align="left" valign="top" nowrap><strong><a href="gastromedicine1.php" target="_blank">Gastromedicine</a></strong></td>
                                                    <td width="183">Dr. Prashant Verma, Assistant Professor</td>
                                                    <td width="189" nowrap>Tue,Fri</td>
                                                  </tr>

                                                   <tr>
                                                    <td width="37" align="center" valign="top" nowrap><strong>5</strong></td>
                                                    <td width="141" align="left" valign="top" nowrap><strong><a href="medicaloncology.php" target="_blank">Medical Oncology</a></strong></td>
                                                    <td width="183">Dr. Gaurav Gupta, Assistant Professor </td>
                                                    <td width="189" nowrap>Mod,Wed,Fri</td>
                                                  </tr>

                                                  <tr>
                                                    <td width="37" align="center" rowspan="2" valign="top" nowrap><strong>6</strong></td>
                                                    <td width="141" align="left" rowspan="2" valign="top" nowrap><strong><a href="nephrology1.php" target="_blank">Nephrology</a></strong></td>
                                                    <td width="183">Dr. Shivendra Singh, Associate Professor</td>
                                                    <td width="189" nowrap>Tue,Thu,Sat</td>
                                                  </tr>
                                                   <tr>
                                                    <td width="183">Dr Abhilash Chandra, Assistant Professor</td>
                                                    <td width="189" nowrap>Mon,Wed,Fri</td>

                                                  </tr>
                                                  <tr>
                                                    <td width="37" rowspan="4" align="center" valign="top" nowrap><strong>7</strong></td>
                                                    <td width="141" rowspan="4" align="left" valign="top" nowrap><strong><a href="neurology1.php" target="_blank">Neurology </a></strong></td>
                                                    <td>Dr. A.K. Thacker,Professor</td>
                                                    <td >Tue,Thu,<br/>1st &amp;3rd Wed (Refractory Epilepsy clinic)</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. A.K. Singh, Associate Professor</td>
                                                    <td >Mon,Thu,<br/>1st &amp; 3rd Wed(Refractory Epilepsy clinic),<br/>Sat (Movement Disorder clinic)</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. P.K. Maurya, Associate Professor</td>
                                                    <td >Tue,Fri,<br/>2nd &amp; 4th Wed (Refractory Epilepsy clinic),<br/>Sat(Movement Disorder Clinic)</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. Dinkar Kulshrestha, Assistant&nbsp; Professor</td>
                                                    <td >Mon,Fri,<br/>2nd &amp; 4th Wed(Refractory Epilepsy Clinic),<br/>Sat(Neuromuscular Clinic)</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="37" rowspan="2" align="center" valign="top" nowrap><strong>8</strong></td>
                                                    <td width="141" rowspan="2" align="left" valign="top" nowrap><strong><a href="neurosurgery.php" target="_blank">Neurosurgery </a></strong></td>
                                                    <td width="183">Dr. D.K. Singh, Associate Professor</td>
                                                    <td width="189" nowrap>Mon,Fri</td>

                                                    <td width="183">Dr. Mohd. Kaif, Assistant Professor</td>
                                                    <td width="189" nowrap>Tue,Sat (1st,3rd,5th)</td>


                                                    <td width="183">Dr. Kuldeep Yadav, Assistant Professor</td>
                                                    <td width="189" nowrap>1st,3rd,5th Sat,Wed</td>

                                                  <tr>

                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. Shaswat Mishra, Assistant &nbsp;Professor</td>
                                                    <td width="189" nowrap>Tue,Thu.Sat</td>
                                                  </tr>
                                                  <tr >
                                                    <td width="37" align="center" valign="top" nowrap><strong>9</strong></td>
                                                    <td width="141" align="left" valign="top" nowrap><strong><a href="nuclearmedicine.php" target="_blank">Nuclear Medicine</a></strong>
                                                    <table  border="1" cellspacing="0" cellpadding="0" align="left" width="99%">
                                                    <tr rowspan=2>
                                                    <td>Thyroid Clinic Including Radioiodine Therapy for <td>
                                                    <td><table><tr><td>1. Hyperthyroidism </td></tr><tr><td>2.Cancer Thyroid </td></tr></table><td>

                                                    </tr>

                                                    <tr><td>Radionuclide Therapy <td> <td><table><tr><td>1.Bone Pain Palliation  </td></tr><tr><td>2.Inflammatory Arthritis </td></tr>
                                                    <tr><td>3.Neuroblastoma </td></tr></table><td></tr>
                                                    </table>

                                                    </td>
                                                    <td width="183"><table border="1" cellspacing="0" cellpadding="0" align="left" width="99%" height="100%"><tr><td>Dr Satyawati Deswal, Associate Professor</td></tr><tr><td><table ><tr><td>Prof A. Malhotra, Dr
                            Satyawati Deswal </td></tr><tr><td>Prof A. Malhotra  </td></tr><tr><td>Prof A. Malhotra  </td></tr><tr><td> </td></tr></table> </td></tr></table></td>
                                                    <td width="189" nowrap><table border="1" cellspacing="0" cellpadding="0" align="left" width="99%" height="100%"><tr><td>Mon,Wed,Fri</td></tr><tr><td><table ><tr><td>Tue, Thu </td></tr><tr><td>Tue, Thu </td></tr><tr><td>Tue, Thu </td></tr><tr><td> </td></tr></table> </td></tr></table></td>

                                                  </tr>
                                                  <tr>
                                                    <td width="37" align="center" valign="top" nowrap><strong>10</strong></td>
                                                    <td width="141" align="left" valign="top" nowrap><strong><a href="pmr.php" target="_blank">Physical Medicine<br/> & Rehabilitation</a></strong></td>
                                                    <td width="183">Dr. Ravi Gaur, Assistant Professor</td>
                                                    <td width="189" nowrap>OPD-II Room No.-46<br/>Mon,Tue,Thur,Fri</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="37" rowspan="5" align="center" valign="top" nowrap><strong>11</strong></td>
                                                    <td width="141" rowspan="5" align="left" valign="top" nowrap><strong><a href="radiationoncology1.php" target="_blank">Radiation Oncology</a></strong></td>

                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. Madhup Rastogi, Associate Professor</td>
                                                    <td width="189" nowrap>Mon, 1st Sat</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. Rohini Khurana, Associate Professor</td>
                                                    <td width="189" nowrap>Wed, 2nd Sat<br>
                                                      </td>
                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. Rahat Hadi, Associate Professor</td>
                                                    <td width="189" nowrap>Tue, 3rd Sat</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. Shantanu Sapru, Assistant Professor</td>
                                                    <td width="189" nowrap>Fri, 5th Sat</td>
                                                  </tr>

                                                   <tr>
                                                    <td width="37" rowspan="3" align="center" valign="top" nowrap><strong>12</strong></td>
                                                    <td width="141" rowspan="3" align="left" valign="top" nowrap><strong><a href="surgicaloncology1.php" target="_blank">Surgical Oncology</a></strong></td>

                                        <td width="183">Prof Arun Chaturvedi, Professor</td>
                                                    <td width="189" nowrap>Tue, Fri</td>

                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. Ashish Singhal, Associate Professor</td>
                                                    <td width="189" nowrap>Mon,Wed, Fri</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. Akash Agarwal, Assistant Professor</td>
                                                    <td width="189" nowrap>Tue&nbsp;<b>(Hepatobiliary<br/> Cancer Clinic)</b>,Thu,Sat</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="37" rowspan="3" align="center" valign="top" nowrap><strong>13</strong></td>
                                                    <td width="141" rowspan="2" align="left"  valign="top" nowrap><strong><a href="urology1.php" target="_blank">Urology</a></strong></td>
                                                    <td width="183">Dr. Ishwar Ram Dhayal, Associate Professor</td>
                                                    <td width="189" nowrap>Tue,Thurs</td>
                                                  </tr>
                                                  <tr>
                                                    <td width="183">Dr. Alok Srivastava, Assistant Professor</td>
                                                    <td width="189" nowrap>Mon,Wed</td>
                                                  </tr>
                                                   <tr>
                                                    <td width="183">Dr. Sanjit Kumar Singh, Assistant Professor</td>
                                                    <td width="189" nowrap>Fri</td>
                                                  </tr>

                                                   <tr>
                                                    <td width="141" rowspan="2" align="left"  valign="top" nowrap><strong><a href="urology1.php" target="_blank">UroOncology</a></strong></td>
                                                    <td width="183">Dr. Ishwar Ram Dhayal, Associate Professor</td>
                                                    <td width="189" nowrap>Fri</td>
                                                  </tr>
                                                  </table>-->

                            <table border="1" cellpadding="1" cellspacing="1" width="765" style="table-layout:fixed;width:574pt">

                                <tbody>
                                    <tr>
                                        <td width="40">S.No.</td>
                                        <td width="150">Department</td>
                                        <td>Doctors</td>
                                        <td>OPD Days</td>
                                        <td width="150">Schedule</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="5">1</td>
                                        <td rowspan="5">Cardiology</td>
                                        <td>Dr. Mukul Mishra</td>
                                        <td>Tue</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Bhuwan Chand Tiwari</td>
                                        <td>Mon, Sat (3rd &amp; 4th)</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Sudarshan Vijay</td>
                                        <td>Wed, Sat (1st, 2nd &amp; 5th)</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Naveen Jamwal </td>
                                        <td>Thur</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Ashish Jha </td>
                                        <td>Fri</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">2</td>
                                        <td rowspan="4">CTVS</td>
                                        <td>Dr. S.S.Rajput</td>
                                        <td>Monday, Ist, 3rd &amp; 5th Friday</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. A P Jain</td>
                                        <td>Tue, 2nd &amp; 4th Friday</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. D.K. Srivastava</td>
                                        <td>Wed, 1st, 3rd &amp; 5th Saturday</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Lalit Mohan Joshi</td>
                                        <td>Thu, 2nd &amp; 4th Saturday</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>

                                    <tr>
                                        <td rowspan="4">3</td>
                                        <td rowspan="4">Gastrosurgery</td>
                                        <td>Dr. Anshuman Pandey</td>
                                        <td>Mon, Thursday</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Shakeel Masood</td>
                                        <td>Tue, Friday,2,4 Saturday (Bariatic Surgery)</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Smita Chauhan</td>
                                        <td>Wed</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Anshuman Pandey/Dr. Smita Chauhan</td>
                                        <td>1,3,5 Saturday (Bariatic Surgery)</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Gastro Medicine</td>
                                        <td>Dr. Prashant</td>
                                        <td>Tue, Fri</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="8">5</td>
                                        <td rowspan="8">Neurology</td>
                                        <td>Dr. Ajai Kumar Singh <br> Dr. Dinkar Kulshrestha <br> </td>
                                        <td>Mon</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. A.K. Thakkar <br> Dr. P.K. Maurya</td>
                                        <td>Tue</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. A.K. Thakkar <br> Dr. Ajai Kumar Singh</td>
                                        <td>1st, 3rd, 5th Wed Refractory Epilepsy clinic</td>
                                        <td>12:00 PM to 3:00 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. P.K.Maurya <br> Dr.Dinkar Kulshrestha</td>
                                        <td>2nd &amp; 4th Wed Refractory Epilepsy clinic</td>
                                        <td>12:00 PM to 3:00 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. A.K. Thakkar <br> Dr. Ajai Kumar Singh</td>
                                        <td>Thu</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. P.K. Maurya <br> Dr. Dinkar Kulshrestha</td>
                                        <td>Fri</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Ajai Kumar Singh <br> Dr.Dinkar Kulshrestha</td>
                                        <td>1st 2nd Sat Movement Disorder</td>
                                        <td>12:00 PM to 3:00 PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. P.K. Maurya <br> Dr. Dinkar Kulshrestha</td>
                                        <td>3rd 4th Muscles &amp; Nerve</td>
                                        <td>12:00 PM to 3:00 PM</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="4">6</td>
                                        <td rowspan="4">Neurosurgery</td>
                                        <td>Dr. Deepak K Singh</td>
                                        <td>Mon,Fri</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Mohd. Kaif</td>
                                        <td>Tue,Sat(1st,4th)</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Rakesh Kumar Singh</td>
                                        <td>Wed,Sat(3rd)</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Kuldeep Yadav</td>
                                        <td>Thu, Sat (2nd,5th)</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="6">7</td>
                                        <td rowspan="6">Radiation Oncology</td>
                                        <td>Dr. Madhup Rastogi</td>
                                        <td>Monday</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Rahat Hadi</td>
                                        <td>Tuesday</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Rohini Khurana</td>
                                        <td>Wednesday</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Ajeet K Gandhi</td>
                                        <td>Thursday</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Shantanu Sapru</td>
                                        <td>Friday</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Madhup Rastogi <br>Dr. Rohini Khurana <br>Dr. Rahat Hadi <br>Dr. Shantanu Sapru<br>Dr. Ajeet K Gandhi</td>
                                        <td>1st Saturday<br>2nd Saturday<br>3rd Saturday<br>4th Saturday<br>5th Saturday<br></td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>

                                    <tr>
                                        <td rowspan="3">8</td>
                                        <td rowspan="3">Surgical Oncology</td>
                                        <td>Dr. Ashish Singhal</td>
                                        <td>Mon, Wed, Fri</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Akash Agarwal</td>
                                        <td>Tue, Thu, Sat</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td> Dr Vikas Sharma</td>
                                        <td>Saturday</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="6">9</td>
                                        <td rowspan="3">Urology</td>
                                        <td>Dr. Ishwar Ram  Dayal</td>
                                        <td>Tue, Thu</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Alok Srivastava</td>
                                        <td>Mon, Wed</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr.Sanjeet Kumar Singh</td>
                                        <td>Fri, Sat</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">Transplant OPD</td>
                                        <td>Dr.Alok Srivastava</td>
                                        <td>Sat</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr.Sanjeet Kumar Singh</td>
                                        <td>Sat </td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Uro Oncology</td>
                                        <td>Dr. Ishwar Ram  Dayal</td>
                                        <td>Fri</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="1">10</td>
                                        <td rowspan="1">Nephrology</td>

                                        <td>Dr. Abhilash Chandra</td>
                                        <td>Mon, Wed, Fri</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">11</td>
                                        <td rowspan="2">Nuclear Medicine</td>
                                        <td>Dr. Satywati  Deshwal</td>
                                        <td>Mon, Fri</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Shashwat Verma</td>
                                        <td>Wed, Fri</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>Medical Oncology</td>
                                        <td>Dr. Gaurav Gupta</td>
                                        <td>Mon, Wed, Fri</td>
                                        <td>09:00AM to  02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">13</td>
                                        <td rowspan="2">Physical Medicine &amp; Rehab. (Room no. 46)</td>
                                        <td>Dr. V.S. Gogia</td>
                                        <td>Tue, Fri</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Ravi Gaur</td>
                                        <td>Mon, Thu</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3">14</td>
                                        <td rowspan="3">Emergency Medicine</td>
                                        <!-- <td >Dr. Sachin Awasthi</td>
                                         <td >Monday, Friday</td>
                                         <td >09:00AM to 02:00PM</td> -->
                                    </tr>
                                    <tr>
                                        <td>Dr. S.S. Tripathi</td>
                                        <td>Tue</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Rajeev Ratan Singh</td>
                                        <td>Thu</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="5">15</td>
                                        <td rowspan="5">Orthopaedics</td>
                                        <td>Dr. Sachin Awasthi</td>
                                        <td>Monday, 1st &amp; 2nd Friday</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Vineet Kumar</td>
                                        <td>1st &amp; 2nd Wed</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Pankaj Agarwal</td>
                                        <td>3rd,4th &amp; 5th Wed</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Swagat Mahapatra</td>
                                        <td>1st,2nd &amp; 5th Sat</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Mohd. Ammar Aslam </td>
                                        <td>3rd,4th &amp; 5th Fri</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">16</td>
                                        <td rowspan="2">Pain Clinic</td>
                                        <td>Dr. Anurag Agarwal</td>
                                        <td> Mon , Tue &amp; Sat </td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Shivani Rastogi</td>
                                        <td>Wed , Thu</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3">17</td>
                                        <td rowspan="3">General Medicine</td>
                                        <td>Dr. P S Singh <br> Dr. Shobhit Shakya</td>
                                        <td>Wed &amp; Sat </td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Dr. Ritu Karoli<br>Dr. Nikhil Gupta
                                        </td>
                                        <td> Mon &amp; Fri </td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr. Vikram Singh<br> Dr. Mridu Singh</td>
                                        <td>Tue &amp; Thu </td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="1">18</td>
                                        <td rowspan="1">ENT</td>
                                        <td>Dr. Ashish Chandra Agarwal</td>
                                        <td> Wed, Thur &amp; Fri</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr></tr>
                                    <tr>
                                        <td rowspan="3">19</td>
                                        <td rowspan="3">General Surgery</td>
                                        <td>Dr.Sanjay Kumar Bhat<br> Dr.Rohit Srivastava</td>
                                        <td>Monday</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr.Priyanka Rai<br>Dr.Sunil Kumar Singh <br> Dr.Rohit Srivastava</td>
                                        <td> Wednesday</td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>
                                    <tr>
                                        <td>Dr.Sanjay Kumar Bhat<br> Dr.Sunil Km Singh</td>
                                        <td>Friday </td>
                                        <td>09:00AM to 02:00PM</td>
                                    </tr>



                                    <!--<tr >
                                     <td >16</td>
                                     <td >Pain OT</td>

                                     <td > Wed</td>
                                     <td >01:00AM to 05:00PM</td>
                                    </tr>    -->
                                </tbody>
                            </table>




                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                </tbody>
            </table>
        </td>*@
    </tr>
    <tr>
        <td valign="top"></td>
        <td>&nbsp;</td>
    </tr>
    </tbody></table></td>
    </tr>
    </tbody></table>
</body>
</html>
