
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">

            @Html.Partial("_About_SideMenu")

            <div class="col-lg-10 w_content pt-20 mt-0">                
                    <h2 class="w-bgph ">About Us</h2>
                    @*<img class="d-block w-100" src="~/Content/images/2.jpg" alt="UPPRPB">*@
                    <br>
                    <h3 class="w-hd-u">About Uttar Pradesh Police Recruitment & Promotion Board</h3>
                    <p style="text-align:justify">Establishment of the Uttar Pradesh Police Recruitment and Promotion Board by the government order dated 02-12-2008 issued by the Government of Uttar Pradesh for direct recruitment and promotion on various non-gazetted posts of the Uttar Pradesh Police, double duty of conducting the selection process according to the rules and procedure of related recruitment. Done on purpose!</p>
                    <p style="text-align:justify">The chairman of this board is a Director General of Police level officer. Two members in the board, officers of the rank of Inspector General of Police are appointed, out of which one member is working as secretary. Two Deputy Inspector General of Police, one Superintendent of Police (Vigilance), one Joint Secretary (Finance), one System Analyst, two Deputy Secretary level officers for direct recruitment and promotion, as Assistant Secretary for direct recruitment and promotion Two Additional Superintendents of Police, 06 Deputy Superintendents of Police and 184 non-gazetted posts are fixed on deputation basis!</p>
                    <p style="text-align:justify">The main focus of the Uttar Pradesh Police Recruitment and Promotion Board is to develop and implement a fair and transparent direct recruitment system under promulgated rules and procedures using the latest technology, so that direct recruitment on the basis of merit can be facilitated!</p>
                    <br>
                    <br>
                    <div class="clearfix"></div>                
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>

@*<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/About"]').parent().addClass('active')
    });
</script>*@