
@{
    ViewBag.Title = "DGMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
            @Html.Partial("_About_SideMenu")

            <div class="col-lg-10 w_content pt-20 mt-0">
                <h2 class="w-bgph ">DGs Message</h2>
                <img class="d-block w-100" src="~/Content/images/banner2.jpg" alt="DGP Message">
                <br>
                <h3 class="w-hd-u">Message</h3>
                Plethoric flow of intigrity fuelled by a candor together contribute to the formation of the brass tacks of the prestige of police. Personnel of police should endeavour for maintaining a placid balanced and separation between their professional and personal lives, ensuring to keep the latter clean and upright. They should develop self restraint and avoid any immoral temptation luring them into committing false behaviour, so that they become the figure the general public can look up to and regard them as exemplary citizens.<br>
                <br />
                <div class="clearfix"></div>


            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/DGMessage"]').parent().addClass('active')
    });
</script>
