
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
            <div class="col-lg-2 pl-md-0 pr-md-0 w-bor-r  pb-50">
                <h2 class="w-bgph ">UPPRPB</h2>
                <div class="collapse show  pt-2 pl-0 min-vh-100" id="sidebar">
                    <ul class="nav flex-column flex-nowrap overflow-hidden">
                        <li class="nav-item"><a class="nav-link text-truncate" href="contact.html">Contact</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="how_to_reach.html">How To Reach</a></li>

                        <li class="nav-item"><a class="nav-link text-truncate" href="Officers_Directory.html">Officers Directory</a></li>

                    </ul>
                </div>


            </div>
            <div class="col-lg-10 w_content pt-20 mt-0">
                <h2 class="w-bgph "> Contact</h2>
                <hr>
                <div class="clr"></div>
                <h4 style="text-align: center">उत्तर प्रदेश पुलिस सेवा भर्ती एवं प्रोन्नति बोर्ड</h4>
                <h4 style="text-align: center">Uttar Pradesh Police Recruitment & Promotion Board</h4>
                <div class="clr"></div>
                <p style="text-align: center; width: 100%; font-size:18px;  line-height:35px;">

                    <b>Phone:</b> 0522-2235752<br>
                    <b>Fax:</b> 0522-2235806<br>
                    <b>सी० यू० जी०</b> 9454404786

                    <b>Email:</b> sampark@uppbpb.gov.in<br>

                </p>
                <hr>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/Contact"]').parent().addClass('active')
    });
</script>