@{

    ViewBag.Title = "Dashboard";

    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}
<div class="innercontentDashboard">
    <div class="row">
        <div class="col-md-10">
            <div class="clearfix"></div>
            <div class="col-md-12 divmargin">

                <div class="dataBoxSec">

                    <div class="col-md-4">

                        <div class="reqSec dataBox">

                            <span class="fa fa-calendar-check-o" aria-hidden="true"></span>

                            <div class="txtInner">

                                <p><a href="~/Appointment/GetAppointments" class="innercontentDashboard">Appointments </a></p>

                                @*<h3 id="cartTotalTickets">4</h3>*@

                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="workSec dataBox">

                            <span class="fa fa-calendar-check-o" aria-hidden="true"></span>

                            <div class="txtInner">

                                <p><a href="~/Appointment/PatientProfile" class="innercontentDashboard">Visit Summary</a></p>

                                @*<h3 id="cartWorkOrders">5</h3>*@

                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="DocSec dataBox">

                            <span class="fa fa-file-text-o" aria-hidden="true"></span>

                            <div class="txtInner">

                                <p><a href="/Report/DischargeSummary" class="innercontentDashboard">Discharge Documents</a></p>

                                @*<h3 id="cartHappyCustomers">6</h3>*@

                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="reqSec dataBox">

                            <span class="fa fa-hand-grab-o" aria-hidden="true"></span>

                            <div class="txtInner">

                                <p><a href="~/Appointment/GetAppointments" class="innercontentDashboard">Clinical </a></p>

                                @*<h3 id="cartTotalTickets">4</h3>*@

                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="workSec dataBox">

                            <span class="fa fa-flask" aria-hidden="true"></span>

                            <div class="txtInner">

                                <p><a href="~/Report/ReportViewing" class="innercontentDashboard">Lab Results</a></p>

                                @*<h3 id="cartWorkOrders">5</h3>*@

                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="DocSec dataBox">

                            <span class="fa fa-user-o" aria-hidden="true"></span>

                            <div class="txtInner" style="padding:0px">
                                <p>
                                    <a href="/Home/MyMessageList" class="innercontentDashboard">Messages</a>
                                </p>
                                @*<h3 id="cartHappyCustomers">6</h3>*@

                            </div>
                            <span class="badge badge-success" style="font-size:15px;color:red;margin-left: 115px;height:50px;width:50px;padding:18px; background-color:#70ca63;border-radius: 50%;">
                                @ViewData["MessageCount"]
                            </span>
                        </div>

                    </div>

                    <div class="clearfix"></div>

                </div>
                @*<br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="src_field_box"><a class="btn btn-lg btn-default btn-block ripplelink">Not Admitted </a></div>
                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">
                                <div class="src_field_box">
                                    <a class="btn btn-lg btn-default btn-block ripplelink">Balance: <strong>10000</strong></a>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="col-md-2"></div>

            </div>

        </div>
    </div>
</div>
