@using UPPRB_Web.Models.Masters;
@{
    ViewBag.Title = "DirectRecruitment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var noticeType = ViewData["NoticeType"] as List<NoticeTypeModel>;
}

<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
            @Html.Partial("_DR_SideMenu", noticeType)            
                <div class="col-lg-10 w_content pt-20 mt-0">
                    <h2 class="w-bgph" style="text-align:center">Under Maintanance</h2>
                    <hr>
                    <div class="clr"></div>
                    <h4 style="text-align: center">उत्तर प्रदेश पुलिस सेवा भर्ती एवं प्रोन्नति बोर्ड</h4>
                    <h4 style="text-align: center">Uttar Pradesh Police Recruitment & Promotion Board</h4>
                    <div class="clr"></div>
                    <article style="text-align:center">
                        <h2>Page is under construction.</h2>
                        <p style="text-align:center">Scheduled maintenance is currently in progress. Please check back soon.</p>
                        <p style="text-align:center">We apologize for any inconvenience.</p>
                        <p id="signature" style="text-align:center">&mdash; <a href="mailto:[Email]">[Administrator]</a></p>
                    </article>
                    <hr>

                </div>
                <!--<table class="table table-bordered">

        <tbody>
            <tr>

                <td style="font-weight:bold">Sr. No</td>
                <td style="font-weight:bold">
                    Advertisement No.
                </td>
                <td style="font-weight:bold">Published Date</td>
                <td style="font-weight:bold">Start Date</td>
                <td style="font-weight:bold">Last Date</td>
                <td style="font-weight:bold">User Instruction</td>
                <td style="font-weight:bold">View Advt.</td>
                <td style="font-weight:bold">Apply</td>
            </tr>
            <tr>

                <td>1</td>
                <td>14-07-2022_Advt._16</td>
                <td>14-07-2022</td>
                <td>16-07-2022</td>
                <td>05-08-2022</td>
                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                <td><i class="fa fa-desktop" aria-hidden="true"></i></td>

            </tr>
            <tr>

                <td>2</td>
                <td>14-07-2022_Advt._16</td>
                <td>14-07-2022</td>
                <td>16-07-2022</td>
                <td>05-08-2022</td>
                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                <td><i class="fa fa-desktop" aria-hidden="true"></i></td>

            </tr>

            <tr>

                <td>3</td>
                <td>14-07-2022_Advt._16</td>
                <td>14-07-2022</td>
                <td>16-07-2022</td>
                <td>05-08-2022</td>
                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                <td><i class="fa fa-desktop" aria-hidden="true"></i></td>

            </tr>
            <tr>

                <td>4</td>
                <td>14-07-2022_Advt._16</td>
                <td>14-07-2022</td>
                <td>16-07-2022</td>
                <td>05-08-2022</td>
                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                <td><i class="fa fa-desktop" aria-hidden="true"></i></td>

            </tr>
            <tr>

                <td>5</td>
                <td>14-07-2022_Advt._16</td>
                <td>14-07-2022</td>
                <td>16-07-2022</td>
                <td>05-08-2022</td>
                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                <td><i class="fa fa-desktop" aria-hidden="true"></i></td>

            </tr>
            <tr>

                <td>6</td>
                <td>14-07-2022_Advt._16</td>
                <td>14-07-2022</td>
                <td>16-07-2022</td>
                <td>05-08-2022</td>
                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                <td><i class="fa fa-desktop" aria-hidden="true"></i></td>

            </tr>
        </tbody>
    </table>-->
                <!--@foreach (var item in noticeType)
        {
            <h3 class="w-hd-u">@item.LookupName</h3>
            <ul class="w_ul">
                @foreach (var category in item.NoticeCategories)
                {
                    <li>
                        <a href="/Home/Manual_Detail?noticeId=@item.LookupId&categoryId=@category.LookupId">
                            @category.LookupName

                        </a>
                    </li>
                }
            </ul>
            <br>
        }
        <div class="clearfix"></div>

    </div>-->

                <div class="clearfix"></div>
            </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/DirectRecruitment"]').parent().addClass('active')
    });
</script>