
@{
    ViewBag.Title = "DirectRecruitment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">     

            <div class="col-lg-12 w_content pt-20 mt-0">                
                    <h2 class="w-bgph ">Direct Recruitment</h2>
                    <table class="table table-bordered">

                        <tbody>
                            <tr>

                                <td>Sr. No</td>
                                <td>
                                    Advertisement No.
                                </td>
                                <td>Published Date</td>
                                <td>Start Date</td>
                                <td>Last Date</td>
                                <td>User Instruction</td>
                                <td>View Advt.</td>
                                <td>Apply</td>
                            </tr>
                            <tr>

                                <td>1</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                                <td><i class="fa fa-pencil" aria-hidden="true"></i></td>

                            </tr>
                            <tr>

                                <td>1</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                                <td><i class="fa fa-pencil" aria-hidden="true"></i></td>

                            </tr>

                            <tr>

                                <td>1</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                                <td><i class="fa fa-pencil" aria-hidden="true"></i></td>

                            </tr>
                            <tr>

                                <td>1</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                                <td><i class="fa fa-pencil" aria-hidden="true"></i></td>

                            </tr>
                            <tr>

                                <td>1</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                                <td><i class="fa fa-pencil" aria-hidden="true"></i></td>

                            </tr>
                            <tr>

                                <td>1</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                                <td><i class="fa fa-pencil" aria-hidden="true"></i></td>

                            </tr>
                        </tbody>
                    </table>

                
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/DirectRecruitment"]').parent().addClass('active')
    });
</script>