
@{
    ViewBag.Title = "DirectRecruitment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
            <div class="col-lg-2 pl-md-0 pr-md-0 w-bor-r  pb-50">
                <h2 class="w-bgph ">UPPRPB</h2>
                <div class="collapse show  pt-2 pl-0 min-vh-100" id="sidebar">
                    <ul class="nav flex-column flex-nowrap overflow-hidden">
                        <li class="nav-item"><a class="nav-link text-truncate" href="about.html">About UPPRPB</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="dg_message.html">DGP Message</a></li>

                        <li class="nav-item"><a class="nav-link text-truncate" href="Vission.html">Vission &amp; Mission</a></li>

                        <!--
                        <li class="nav-item">
                            <a class="nav-link collapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><span class="d-none d-sm-inline">Logo</span></a>
                            <div class="collapse" id="submenu1" aria-expanded="false">

                                <ul class="flex-column nav pl-4">
                                    <li class="nav-item"><a class="nav-link p-1" href="g_overview.aspx">Overview</a></li>
                                    <li class="nav-item"><a class="nav-link collapsed py-1" href="#submenu1sub3" data-toggle="collapse" data-target="#submenu1sub3">The Court</a>
                                        <div class="collapse" id="submenu1sub3" aria-expanded="false">
                                            <ul class="flex-column nav pl-4">
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="#!">Composition</a></li>
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="#!">Meeting Minutes</a></li>
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="#!">Constitution</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a class="nav-link collapsed py-1" href="#submenu1sub4" data-toggle="collapse" data-target="#submenu1sub4">Board of Management</a>
                                        <div class="collapse" id="submenu1sub4" aria-expanded="false">
                                            <ul class="flex-column nav pl-4">
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="#!">Composition</a></li>
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="#!">Meeting Minutes</a></li>
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="#!">Constitution</a></li>
                                            </ul>
                                        </div>
                                    </li>


                                    <li class="nav-item"><a class="nav-link collapsed py-1" href="#submenu1sub7" data-toggle="collapse" data-target="#submenu1sub7">Examination Committee</a>
                                        <div class="collapse" id="submenu1sub7" aria-expanded="false">
                                            <ul class="flex-column nav pl-4">
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="#!">Composition</a></li>
                                                <li class="nav-item"><a class="nav-link p-1" href="ViewUnivMeetingMinutes.aspx?m=EC">Meeting  Minutes</a></li>
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="#!">Constitution</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a class="nav-link collapsed py-1" href="#submenu1sub9" data-toggle="collapse" data-target="#submenu1sub9">Administrative Committee</a>
                                        <div class="collapse" id="submenu1sub9" aria-expanded="false">
                                            <ul class="flex-column nav pl-4">
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="#!">Composition</a></li>
                                                <li class="nav-item"><a class="nav-link p-1" href="ViewUnivMeetingMinutes.aspx?m=ADC">Meeting  Minutes</a></li>
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="#!">Constitution</a></li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li class="nav-item"><a class="nav-link collapsed py-1" href="#submenu1sub11" data-toggle="collapse" data-target="#submenu1sub11">Academic Affairs Committee</a>
                                        <div class="collapse" id="submenu1sub11" aria-expanded="false">
                                            <ul class="flex-column nav pl-4">
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="Governence?id=8">Composition</a></li>
                                                <li class="nav-item"><a class="nav-link p-1" href="#!">Meeting  Minutes</a></li>
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="#!">Constitution</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item"><a class="nav-link collapsed py-1" href="#submenu1sub8" data-toggle="collapse" data-target="#submenu1sub8">Building Works Committee</a>
                                        <div class="collapse" id="submenu1sub8" aria-expanded="false">
                                            <ul class="flex-column nav pl-4">
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="Governence?id=9">Composition</a></li>
                                                <li class="nav-item"><a class="nav-link p-1" href="ViewUnivMeetingMinutes.aspx?m=BWC">Meeting  Minutes</a></li>
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="Constitution.aspx?id=9">Constitution</a></li>
                                            </ul>
                                        </div>

                                    </li>
                                    <li class="nav-item"><a class="nav-link collapsed py-1" href="#submenu1sub8" data-toggle="collapse" data-target="#submenu1sub13">Board of Studies</a>
                                        <div class="collapse" id="submenu1sub13" aria-expanded="false">
                                            <ul class="flex-column nav pl-4">

                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="Constitution.aspx?id=10">Constitution</a></li>
                                            </ul>
                                        </div>

                                    </li>



                                     <li class="nav-item"><a class="nav-link collapsed py-1" href="#submenu1sub14" data-toggle="collapse" data-target="#submenu1sub14">Internal Quality Assurance Cell</a>
                                         <div class="collapse" id="submenu1sub14" aria-expanded="false">
                                            <ul class="flex-column nav pl-4">
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="#!">Composition</a></li>
                                                <li class="nav-item"><a class="nav-link p-1" href="ViewUnivMeetingMinutes.aspx?m=IQAC">Meeting  Minutes</a></li>
                                                <li class="nav-item">
                                                    <a class="nav-link p-1" href="#!">Constitution</a></li>
                                            </ul>
                                        </div>

                                    </li>



                                </ul>


                            </div>
                        </li>   -->

                        <li class="nav-item"><a class="nav-link text-truncate" href="logo.html">Logo</a></li>

                        <li class="nav-item"><a class="nav-link text-truncate" href="org_structure.html">Organizational Structure</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="govt_order.html">Government Order </a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="rti.html">Right to Information</a></li>



                        <!--<li class="nav-item"><a class="nav-link text-truncate" href="#!">Annual Reports</a></li>

                        <li class="nav-item"><a class="nav-link text-truncate" href="#!">Photo Gallery</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="#!">Video Gallery</a></li>-->


                    </ul>
                </div>


            </div>

            <div class="col-lg-10">
                <div class="w_content">
                    <h3 class="w-hd-u h3bg">Direct Recruitment</h3>
                    <table class="table table-bordered">

                        <tbody>
                            <tr>

                                <td>Sr. No</td>
                                <td>
                                    Advertisement No.
                                </td>
                                <td>Published Date</td>
                                <td>Start Date</td>
                                <td>Last Date</td>
                                <td>User Instruction</td>
                                <td>View Advt.</td>
                                <td>Apply</td>
                            </tr>
                            <tr>

                                <td>1</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                                <td><i class="fa fa-pencil" aria-hidden="true"></i></td>

                            </tr>
                            <tr>

                                <td>1</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                                <td><i class="fa fa-pencil" aria-hidden="true"></i></td>

                            </tr>

                            <tr>

                                <td>1</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                                <td><i class="fa fa-pencil" aria-hidden="true"></i></td>

                            </tr>
                            <tr>

                                <td>1</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                                <td><i class="fa fa-pencil" aria-hidden="true"></i></td>

                            </tr>
                            <tr>

                                <td>1</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                                <td><i class="fa fa-pencil" aria-hidden="true"></i></td>

                            </tr>
                            <tr>

                                <td>1</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td>Thornton</td>
                                <td>fat</td>
                                <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                                <td><i class="fa fa-search" aria-hidden="true"></i></td>
                                <td><i class="fa fa-pencil" aria-hidden="true"></i></td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/DirectRecruitment"]').parent().addClass('active')
    });
</script>