@using UPPRB_Web.Models.Masters;
@{
    ViewBag.Title = "DirectRecruitment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var noticeType = ViewData["NoticeType"] as List<NoticeTypeModel>;
}

<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
            @Html.Partial("_DR_SideMenu", noticeType)
            <div class="col-lg-10 w_content pt-20 mt-0">
                <h2 class="w-bgph ">Direct Recruitment</h2>
                <!--<table class="table table-bordered">

            <tbody>
                <tr>

                    <td style="font-weight:bold">Sr. No</td>
                    <td style="font-weight:bold">
                        Advertisement No.
                    </td>
                    <td style="font-weight:bold">Published Date</td>
                    <td style="font-weight:bold">Start Date</td>
                    <td style="font-weight:bold">Last Date</td>
                    <td style="font-weight:bold">User Instruction</td>
                    <td style="font-weight:bold">View Advt.</td>
                    <td style="font-weight:bold">Apply</td>
                </tr>
                <tr>

                    <td>1</td>
                    <td>14-07-2022_Advt._16</td>
                    <td>14-07-2022</td>
                    <td>16-07-2022</td>
                    <td>05-08-2022</td>
                    <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                    <td><i class="fa fa-search" aria-hidden="true"></i></td>
                    <td><i class="fa fa-desktop" aria-hidden="true"></i></td>

                </tr>
                <tr>

                    <td>2</td>
                    <td>14-07-2022_Advt._16</td>
                    <td>14-07-2022</td>
                    <td>16-07-2022</td>
                    <td>05-08-2022</td>
                    <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                    <td><i class="fa fa-search" aria-hidden="true"></i></td>
                    <td><i class="fa fa-desktop" aria-hidden="true"></i></td>

                </tr>

                <tr>

                    <td>3</td>
                    <td>14-07-2022_Advt._16</td>
                    <td>14-07-2022</td>
                    <td>16-07-2022</td>
                    <td>05-08-2022</td>
                    <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                    <td><i class="fa fa-search" aria-hidden="true"></i></td>
                    <td><i class="fa fa-desktop" aria-hidden="true"></i></td>

                </tr>
                <tr>

                    <td>4</td>
                    <td>14-07-2022_Advt._16</td>
                    <td>14-07-2022</td>
                    <td>16-07-2022</td>
                    <td>05-08-2022</td>
                    <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                    <td><i class="fa fa-search" aria-hidden="true"></i></td>
                    <td><i class="fa fa-desktop" aria-hidden="true"></i></td>

                </tr>
                <tr>

                    <td>5</td>
                    <td>14-07-2022_Advt._16</td>
                    <td>14-07-2022</td>
                    <td>16-07-2022</td>
                    <td>05-08-2022</td>
                    <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                    <td><i class="fa fa-search" aria-hidden="true"></i></td>
                    <td><i class="fa fa-desktop" aria-hidden="true"></i></td>

                </tr>
                <tr>

                    <td>6</td>
                    <td>14-07-2022_Advt._16</td>
                    <td>14-07-2022</td>
                    <td>16-07-2022</td>
                    <td>05-08-2022</td>
                    <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i></td>
                    <td><i class="fa fa-search" aria-hidden="true"></i></td>
                    <td><i class="fa fa-desktop" aria-hidden="true"></i></td>

                </tr>
            </tbody>
        </table>-->
                @foreach (var item in noticeType)
                {
                    <h3 class="w-hd-u">@item.LookupName</h3>
                    <ul class="w_ul">
                        @foreach (var category in item.NoticeCategories)
                        {
                            <li>
                                <a href="/Home/Manual_Detail?noticeId=@item.LookupId&categoryId=@category.LookupId">
                                    @category.LookupName
                                    @*<img id="Image1_0" class="w_fl_ico" src="~/Content/images/new.gif">*@
                                </a>
                            </li>
                        }
                    </ul>
                    <br>
                }
                <div class="clearfix"></div>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/DirectRecruitment"]').parent().addClass('active')
    });
</script>