
@{
    ViewBag.Title = "EnquiryForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
            @Html.Partial("_Contact_SideMenu")

            <div class="col-lg-10 w_content pt-20 mt-0">
                <h2 class="w-bgph" style="text-align:center">Enquiry Form</h2>
                <hr>
                <div class="clr"></div><center>
                    <div style="width: 500px; height:500px">
                        @using (Html.BeginForm("EnquiryForm", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="row">
                                <label class="required" for="name">Name:&nbsp;  </label><br />
                                <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
                                <span id="name_validation" class="error_message"></span>
                            </div><br />
                            <div class="row">
                                <label class="required" for="email">Mobile:&nbsp;  </label><br />
                                <input id="mobile" class="input" name="mobile" type="text" value="" size="30" /><br />
                                <span id="email_validation" class="error_message"></span>
                            </div><br />
                            <div class="row">
                                <label class="required" for="email">Email:&nbsp;  </label><br />
                                <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
                                <span id="email_validation" class="error_message"></span>
                            </div>
                            <div class="row">
                                <label class="required" for="address">Address:&nbsp;  </label><br />
                                <textarea id="address" class="input" name="address" rows="1" cols="30"></textarea><br />
                                <span id="message_validation" class="error_message"></span>
                            </div>
                            <div class="row">
                                <label class="required" for="subject">Subject:&nbsp;  </label><br />
                                <textarea id="subject" class="input" name="subject" rows="1" cols="30"></textarea><br />
                                <span id="message_validation" class="error_message"></span>
                            </div>
                            <div class="row">
                                <label class="required" for="message">Message:&nbsp;  </label><br />
                                <textarea id="message" class="input" name="message" rows="3" cols="30"></textarea><br />
                                <span id="message_validation" class="error_message"></span>
                            </div><br />
                            <input id="submit_button" type="submit" value="Submit" />
                        }

                    </div>
                </center>
                <hr>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/Administration"]').parent().addClass('active')
    });
</script>
