
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">


            <div class="col-xl-9 col-lg-10 col-md-10 col-sm-10  p-0">
                <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="-1" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>


                    </ol>
                    <div class="carousel-inner">


                        <div class="carousel-item  active">
                            <img class="d-block w-100" src="~/Content/images/banner1.jpg" alt="Placement Banner">
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/Content/images/banner2.jpg" alt="DG Message">
                        </div>


                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>




            </div>


            <div class="col-xl-3 col-lg-12 pl-md-0 pr-md-0 w-bor-r  pb-50  mb-30">
                <div class="single-widget mt-30">
                    <!--<h3 class="title">Updates</h3>-->

                    <nav>
                        <div class="nav nav-tabs text-uppercase  d-flex bd-highlight" id="nav-tab" role="tablist">
                            <a class="nav-link active flex-fill bd-highlight col" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><b>Events </b></a>



                        </div>
                    </nav>

                    <marquee scrollamount="5" direction="up" onmouseover="this.stop()" onmouseout="this.start()" style="height: 200px;">
                        <ul class="ultxt1">
                            <li class="p-10" style="width: 95%">
                                <h6>
                                    <img id="ContentPlaceHolder2_Repeater2_Image1_0" class="w_fl_ico" src="~/Content/images/new.gif">
                                    <!--<span id="ContentPlaceHolder2_Repeater2_Label1_0">Notice/Release (17.10.2022)</span>-->
                                    <span id="ContentPlaceHolder2_Repeater2_Label1_0">Notice/Release (22.11.2022)</span>
                                </h6>

                                <p style="text-align: justify">
                                    <a href='./Notices/pdf/vig1_22112022.pdf' target="_blank"><span id="ContentPlaceHolder2_Repeater2_Label2_0" class="text">Expression of Interest in relation to offline examination and information technology and computer programming examination in the perspective of promotion from Computer Operator Grade-C to Programmer Grade-2 under Uttar Pradesh Police Computer Staff Class (Non-Gazetted) Service Rules-2011 (as amended) Invitation of (EOI). - </span></a>

                                </p>
                                <a id="ContentPlaceHolder2_Repeater2_HyperLink1_0" class="pull-right price-dec  hvr-float-shadow bg-info" href='./Notices/pdf/vig1_22112022.pdf' target="_blank"><u>More..</u></a>
                                <div class="clearfix">
                                </div>
                            </li>
                            <li class="p-10" style="width: 95%">
                                <h6>
                                    <img id="ContentPlaceHolder2_Repeater2_Image1_0" class="w_fl_ico" src="~/Content/images/new.gif">
                                    <span id="ContentPlaceHolder2_Repeater2_Label1_0">Notice/Release (21.11.2022)</span>

                                </h6>

                                <p style="text-align: justify">
                                    <a href="https://upprpbsimca20.onlineapplicationform.org/UPPRPBM/" target="_blank"><span id="ContentPlaceHolder2_Repeater2_Label2_0" class="text">Direct recruitment of Sub-Inspector of Police (Confidential), Assistant Sub-Inspector of Police (Clerk) and Assistant Sub-Inspector of Police (Accounts) in UP Police for men and women - Link for the admit card of the shorthand test under the recruitment process of 2020-21. </span></a>
                                </p>
                                <a id="ContentPlaceHolder2_Repeater2_HyperLink1_0" class="pull-right price-dec  hvr-float-shadow bg-info" href="https://upprpbsimca20.onlineapplicationform.org/UPPRPBM/" target="_blank"><u>More..</u></a>
                                <div class="clearfix">
                                </div>
                            </li>
                            <li class="p-10" style="width: 95%">
                                <h6>
                                    <img id="ContentPlaceHolder2_Repeater2_Image1_0" class="w_fl_ico" src="~/Content/images/new.gif">
                                    <span id="ContentPlaceHolder2_Repeater2_Label1_0">Notice/Release (18.11.2022)</span>

                                </h6>

                                <p style="text-align: justify">
                                    <a href='./Notices/pdf/vig2_18112022.pdf' target="_blank"><span id="ContentPlaceHolder2_Repeater2_Label2_0" class="text">Direct recruitment of Sub-Inspector of Police (Confidential), Assistant Sub-Inspector of Police (Clerk) and Assistant Sub-Inspector of Police (Accounts) in UP Police for men and women - Information regarding shorthand test under the recruitment process of 2020-21. </span></a>

                                </p>
                                <a id="ContentPlaceHolder2_Repeater2_HyperLink1_0" class="pull-right price-dec  hvr-float-shadow bg-info" href='./Notices/pdf/vig2_18112022.pdf' target="_blank"><u>More..</u></a>
                                <div class="clearfix">
                                </div>
                            </li>
                            <li class="p-10" style="width: 95%">
                                <h6>
                                    <img id="ContentPlaceHolder2_Repeater2_Image1_0" class="w_fl_ico" src="~/Content/images/new.gif">
                                    <span id="ContentPlaceHolder2_Repeater2_Label1_0">Notice/Release (18.11.2022)</span>

                                </h6>

                                <p style="text-align: justify">
                                    <a href='./Notices/pdf/vig1_18112022.pdf' target="_blank"><span id="ContentPlaceHolder2_Repeater2_Label2_0" class="text">Information regarding list of eligible candidates, date of examination, date of admit card and practice test for efficiency assessment (shorthand) examination under recruitment to the post of Police Sub-Inspector (Confidential) under deceased dependent.</span></a>

                                </p>
                                <a id="ContentPlaceHolder2_Repeater2_HyperLink1_0" class="pull-right price-dec  hvr-float-shadow bg-info" href='./Notices/pdf/vig1_18112022.pdf' target="_blank"><u>More..</u></a>
                                <div class="clearfix">
                                </div>
                            </li>
                            <li class="p-10" style="width: 95%">
                                <h6>
                                    <img id="ContentPlaceHolder2_Repeater2_Image1_0" class="w_fl_ico" src="~/Content/images/new.gif">
                                    <span id="ContentPlaceHolder2_Repeater2_Label1_0">Notice/Release (17.11.2022)</span>

                                </h6>
                                <div class="clr">
                                </div>
                                <p style="text-align: justify">
                                    <a href='./Notices/pdf/vig1_17112022.pdf' target="_blank"><span id="ContentPlaceHolder2_Repeater2_Label2_0" class="text">Direct recruitment of Sub-Inspector of Police (Confidential), Assistant Sub-Inspector of Police (Clerk) and Assistant Sub-Inspector of Police (Accounts) in UP Police for men and women - List of eligible candidates for shorthand test under the recruitment process of 2020-21, date of examination, Information regarding date of admit card and practice test. </span></a>

                                </p>
                                <a id="ContentPlaceHolder2_Repeater2_HyperLink1_0" class="pull-right price-dec  hvr-float-shadow bg-info" href='./Notices/pdf/vig1_17112022.pdf' target="_blank"><u>More..</u></a>
                                <div class="clearfix">
                                </div>
                            </li>
                        </ul>
                    </marquee>

                </div>
            </div>

        </div>
    </div>
</section>

<div class="headline">
    <div class="container-fluid">
        <div class="row">
            <!--<div class="col-md-2 col-sm-12 col-lg-12 col-xs-12"><a><u>Latest News</u></a></div>-->
            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class="modern-ticker mt-round">
                    <div class="mt-body">
                        <div class="mt-news">
                            <marquee scrollamount="5" direction="left" onmouseover="this.stop()" onmouseout="this.start()">
                                <p>




                                    <a href="#!" style="color: #03749d">
                                        <u>LATEST NEWS: </u>
                                        <img src="~/Content/images/new.gif" alt="new" />
                                        Regarding inviting tenders through open tender for filling 120 posts of workshop staff, 1374 posts of assistant operators and 936 posts of head operators by direct recruitment-2022 in UP Police Radio Cadre.
                                    </a>
                                    <!--
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="PDF/RagPickers.pdf" target="_blank"><img src="~/Content/images/new.gif" alt="new" />Regarding inviting tenders through open tender for filling 120 posts of workshop staff, 1374 posts of assistant operators and 936 posts of principal operators by direct recruitment-2022 in UP Police Radio Cadre.   </a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                     -->



                                </p>
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="pr-15 pl-15">
        <div class="row">
            <div class="col-xl-8 col-lg-9 col-md-9 col-sm-9">

                <div class="row">


                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="info-box bg-white">
                            <div class="boxicon1"><i class="fas fa-medkit"></i></div>
                            <div class="info-box-content">
                                <a href="#!"><span class="info-box-text">Administration</span></a>


                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>



                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="info-box bg-org">
                            <div class="boxicon1"><i class="fas fa-sd-card"></i></div>
                            <div class="info-box-content">
                                <a href="#!"><span class="info-box-text">Direct Recruitment</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="info-box bg-green">

                            <div class="boxicon1"><i class="fas fa-capsules"></i></div>
                            <div class="info-box-content">
                                <a href="#!"> <span class="info-box-text">Promotion</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>

                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="info-box bg-green">
                            <div class="boxicon1"><i class="fas fa-vcard"></i></div>
                            <div class="info-box-content">
                                <a href="#!"> <span class="info-box-text">Recruitment Rules</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>

                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="info-box bg-white">
                            <div class="boxicon1"><i class="fas fa-kaaba"></i></div>
                            <div class="info-box-content">
                                <a href="#!"><span class="info-box-text">Tender/ Release</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>

                    <div class="col-xl-4 col-md-6 col-12">
                        <div class="info-box bg-red">
                            <div class="boxicon1"><i class="fas fa-key"></i></div>
                            <div class="info-box-content">
                                <a href="#!"><span class="info-box-text">Results</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>

                    <div class="col-xl-12
								col-md-6 col-12">

                        <div class="greybox">

                            <h4><i class="fas fa-plus-square"></i> Miscellaneous/ Writ.</h4>


                        </div>
                    </div>



                    <div class="col-xl-6 col-md-6 col-12 padd25">
                        <div class="info-box bg-grey" style="margin-bottom: 0px;">
                            <div class="boxicon1"><i class="fas fa-kaaba"></i></div>
                            <div class="info-box-content">
                                <a href="http://103.250.184.13/writprpb/login.aspx" target="_blank"> <span class="info-box-text padd_left1">Writ Management Software Link</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>


                    <div class="col-xl-6 col-md-6 col-12 padd25">
                        <div class="info-box bg-grey" style="margin-bottom: 0px;">
                            <div class="boxicon1"><i class="fas fa-kaaba"></i></div>
                            <div class="info-box-content">
                                <a href="#!"> <span class="info-box-text padd_left1">Important Court Decisions</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <div class="col-xl-6 col-md-6 col-12 padd25">
                        <div class="info-box bg-grey" style="margin-bottom: 0px;">
                            <div class="boxicon1"><i class="fas fa-kaaba"></i></div>
                            <div class="info-box-content">
                                <a href="#!"> <span class="info-box-text padd_left1">Disposed Representation</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>


                    <div class="col-xl-6 col-md-6 col-12 padd25">
                        <div class="info-box bg-grey" style="margin-bottom: 0px;">
                            <div class="boxicon1"><i class="fas fa-kaaba"></i></div>
                            <div class="info-box-content">
                                <a href="#!"> <span class="info-box-text padd_left1">High Court Links</span></a>

                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                    <!--
                        <div class="col-xl-12
                                                    col-md-6 col-12">

                                            <div class="greybox">

                                                    <h4><i class="fas fa-plus-square"></i> Important Links</h4>


                                                </div>
                        </div>



                    <div class="col-xl-6 col-md-6 col-12 padd25">
                                                  <div class="info-box bg-grey" style="margin-bottom: 0px;">
                                                    <div class="boxicon1"><i class="fas fa-kaaba"></i></div>
                                                     <div class="info-box-content">
                                                         <a href="#!"> <span class="info-box-text padd_left1">Important Website Links</span></a>

                                                    </div>
                                                    <!-- /.info-box-content --
                                                  </div>
                                                  <!-- /.info-box --
                                                </div>


                    <div class="col-xl-6 col-md-6 col-12 padd25">
                                                  <div class="info-box bg-grey" style="margin-bottom: 0px;">
                                                    <div class="boxicon1"><i class="fas fa-kaaba"></i></div>
                                                     <div class="info-box-content">
                                                         <a href="#!"><span class="info-box-text padd_left1">Government Orders / Manuals</span></a>

                                                    </div>
                                                    <!-- /.info-box-content --
                                                  </div>
                                                  <!-- /.info-box --
                                                </div>

                    -->

                </div>



            </div>
            <div class="col-xl-4 col-lg-12 pl-md-0 pr-md-0 w-bor-r" style="margin-top: 0px;">

                <div class="collapse show  pt-2 pl-0 min-vh-100" id="sidebar">
                    <ul class="nav flex-column flex-nowrap overflow-hidden">
                        <li class="nav-item"><a class="nav-link text-truncate" href="https://uppolice.gov.in/" target="_blank"><i class="fas fa-plus"></i> Uttar Pradesh Police</a></li>

                        <li class="nav-item"><a class="nav-link text-truncate" href="#!"><i class="fas fa-pen"></i> Online Application Forms </a></li>

                        <li class="nav-item"><a class="nav-link text-truncate" href="#!"><i class="fas fa-flag"></i> Geographical Mapping System of Examination Centers </a></li>

                        <li class="nav-item"><a class="nav-link text-truncate" href="#!"> <i class="fas fa-joint"></i> Instructions for Use of Geographic Mapping System</a></li>

                        
                    </ul>
                    <div class="col-lg-12 ">
                        <div class="single-widget mt-30">
                            <!--<h1 class="news-title"><a href="news-single.html">Utility</a></h1>-->
                            <div class="news-text">
                                <nav>
                                    <div class="nav nav-tabs text-uppercase  d-flex bd-highlight" id="nav-tab" role="tablist">

                                        <a class="nav-link active flex-fill bd-highlight col" id="Students-tab" data-toggle="tab" href="#Students" role="tab" aria-controls="Students" aria-selected="false"><b>Important Links</b></a>
                                        <a class="nav-link  flex-fill bd-highlight col" id="Admission-tab" data-toggle="tab" href="#Admission" role="tab" aria-controls="Admission" aria-selected="true"><b>Written Exam</b></a>
                                    </div>
                                </nav>

                                <div class="tab-content p-10" id="myTabContent">
                                    <div class="tab-pane fade  show active" id="Students" role="tabpanel" aria-labelledby="Students-tab">
                                        <div class="row text-center wutil mx-0">
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0">
                                                <a href="https://uppolice.gov.in/" target="_blank">
                                                    <div class="icon-box iconbox-border p-5">
                                                        <img alt="UP Police" src="~/Content/icon/upp.png"><br />
                                                        UP Police
                                                    </div>
                                                </a>
                                            </div>


                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0">
                                                <a href="#!" target="_blank">
                                                    <div class="icon-box iconbox-border p-5">
                                                        <img alt="" src="~/Content/icon/academiccalendar.png" class="fc-clear"><br />
                                                        Calendar
                                                        <img style="margin-left: 3px; padding-top: 0px; display: inline;" src="http://mmmut.ac.in/images/new.gif">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0">
                                                <a href="https://jansunwai.up.nic.in/" target="_blank">
                                                    <div class="icon-box iconbox-border p-5">
                                                        <img alt="" src="~/Content/icon/Jansunwai.png">
                                                        <br />
                                                        Jansunwai-Samadhan
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0">
                                                <a href="#!" target="_blank">
                                                    <div class="icon-box iconbox-border p-5">
                                                        <img alt="" src="~/Content/icon/medal.png"><br />
                                                        Medals
                                                    </div>
                                                </a>
                                            </div>                                       
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0">
                                                <a href="#!">
                                                    <div class="icon-box iconbox-border p-5">
                                                        <img alt="" src="~/Content/icon/download.png"><br />
                                                        Downloads
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0">

                                                <a href="#!" target="_blank">
                                                    <div class="icon-box iconbox-border p-5">
                                                        <img alt="" src="~/Content/icon/tender.png"><br />
                                                        Tender
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0  ">
                                                <a href="#!" target="_blank">
                                                    <div class="icon-box iconbox-border p-5">
                                                        <img alt="" src="~/Content/icon/grivance1.png"><br />
                                                        Grivance
                                                    </div>
                                                </a>

                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0  ">
                                                <a href="https://www.digilocker.gov.in/" target="_blank">
                                                    <div class="icon-box iconbox-border p-5">
                                                        <img alt="" src="~/Content/icon/DigiLocker.png"><br />
                                                        DigiLocker
                                                    </div>
                                                </a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="Admission" role="tabpanel" aria-labelledby="Admission-tab">
                                        <div class="row text-center wutil mx-0">
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0">

                                                <a href="#!" target="_blank">
                                                    <div class="icon-box iconbox-border p-5 ">
                                                        <img alt="" src="~/Content/icon/Syllabus1.png"><br />
                                                        Syllabus
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0">

                                                <a href="#!" target="_blank">
                                                    <div class="icon-box iconbox-border p-5">
                                                        <img alt="" src="~/Content/icon/press.png"><br />
                                                        Employement News
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0">

                                                <a href="#!" target="_blank">
                                                    <div class="icon-box iconbox-border p-5">
                                                        <img alt="" src="~/Content/icon/exam.png"><br />
                                                        Question Papers
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0">

                                                <a href="#!" target="_blank">
                                                    <div class="icon-box iconbox-border p-5 ">
                                                        <img alt="" src="~/Content/icon/Counselling1.png"><br />
                                                        eCounseling
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0">
                                                <a href="#!">
                                                    <div class="icon-box iconbox-border p-5">
                                                        <img alt="" src="~/Content/icon/broucher.png"><br />
                                                        Sample Papers
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0">
                                                <a href="#!" target="_blank">
                                                    <div class="icon-box iconbox-border p-5">
                                                        <img alt="" src="~/Content/icon/stat.png"><br />
                                                        Statistics
                                                        <img style="margin-left: 3px; display: inline-block; padding-top: 0px;" src="http://mmmut.ac.in/images/new.gif">
                                                    </div>
                                                </a>

                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0">
                                                <a href="#!" target="_blank">
                                                    <div class="icon-box iconbox-border p-5">
                                                        <img alt="" src="~/Content/icon/Awarded.png"><br />
                                                        Awards
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 col-4  p-0">
                                                <a href="#!" target="_blank">
                                                    <div class="icon-box iconbox-border p-5">
                                                        <img alt="" src="~/Content/icon/elearning.png"><br />
                                                        eLearning
                                                    </div>
                                                </a>
                                            </div>


                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>




        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/Index"]').parent().addClass('active')
    });
</script>