@using UPPRB_Web.Infrastructure.Authentication;
@using DataLayer;
@using UPPRB_Web.Models;
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}
@{
    var patientinfo = GetPatientInfo();
    string daysRemaning = string.Empty;
    bool showingDaysRemaining = false;
    if (patientinfo != null && patientinfo.ValidUpto != null)
    {
        daysRemaning = Convert.ToString((patientinfo.ValidUpto.Value.Date - DateTime.Now.Date).TotalDays);
        if (Convert.ToInt32(daysRemaning) <= 10)
        {
            showingDaysRemaining = true;
        }
    }
}
<div class="" style="margin-top:0px;padding-top:20px;">
    <div class="col-sm-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Make Payment
            </div>
            <div class="panel-body">
                <div class="row">
                    @if (showingDaysRemaining)
                    {
                        <ul class="makepayment">
                            <li>
                                <span><i></i></span>
                                Make Payment against your Registration Renewal
                                @Html.ActionLink(" click here to Renew", "MakePaymentRenewal", "Home", new { area = "" }, new { })
                            </li>
                            <li>
                                <span><i></i></span>
                                Make Payment against your Bill
                                @Html.ActionLink(" click here to Pay", "MakePaymentBill", "Home", new { area = "" }, new { })
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="makepayment">
                            <li>
                                <span><i></i></span>
                                Make Payment against your Registration Renewal
                                <a class="isDisabled" href="javascript:void(0)"> click here to Renew</a>
                            </li>
                            <li>
                                <span><i></i></span>
                                Make Payment against your Bill
                                @Html.ActionLink(" click here to Pay", "MakePaymentBill", "Home", new { area = "" }, new { })
                            </li>
                        </ul>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .makepayment > li:before {
        font-family: 'FontAwesome';
        content: '\f067';
        margin: 0 5px 0 -15px;
        color: #f00;
    }

    .makepayment {
        padding-left: 30px
    }
</style>