
@{
    ViewBag.Title = "Manual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
            @Html.Partial("_Manual_SideMenu")

            <div class="col-lg-10">
                <div class="w_content">



                    <p>

                    </p><h3 class="w-hd-u">Civil Police</h3>
                    <ul class="w_ul">
                        <li><a href="~/Home/Manual_CivilPolice">Service Manual of Uttar Pradesh Police Sub-Inspector and Inspector (Civilian Police)<img id="Image1_0" class="w_fl_ico" src="~/Content/images/new.gif"></a> </li>
                        <li><a href="~/Home/Manual_CivilPolice">Service Manual of Uttar Pradesh Civil Police Constable and Head Constable</a></li>
                    </ul><br>
                    <h3 class="w-hd-u">Territorial Armed Constabulary</h3>
                    <ul class="w_ul">
                        <li><a href="~/Home/Manual_CivilPolice">Service Manual of Uttar Pradesh Territorial Armed Constabulary State Band Subordinate Officer</a></li>
                        <li><a href="~/Home/Manual_CivilPolice">Service Manual of Uttar Pradesh Territorial Armed Constabulary Subordinate Officer</a></li>
                    </ul><br>
                    <h3 class="w-hd-u">Skill Player</h3>
                    <ul class="w_ul">
                        <li><a href="~/Home/Manual_CivilPolice">Recruitment and Promotion Process Rules of Skilled Sportspersons in Uttar Pradesh Civil Police/ Territorial Armed Constabulary</a></li>
                    </ul><br>
                    <h3 class="w-hd-u">Police Computer Staff</h3>
                    <ul class="w_ul">
                        <li><a href="~/Home/Manual_CivilPolice">Service Manual of Uttar Pradesh Police Computer Staff (Non-Gazetted)</a></li>
                    </ul><br>
                    <h3 class="w-hd-u">Uttar Pradesh Police Motor Transport Branch</h3>
                    <ul class="w_ul">
                        <li><a href="~/Home/Manual_CivilPolice">Uttar Pradesh Police Motor Transport Branch Subordinate Officer Service Rules, 2015</a></li>
                    </ul><br>
                    <h3 class="w-hd-u">Fire Service</h3>
                    <ul class="w_ul">
                        <li><a href="~/Home/Manual_CivilPolice">Service Manual of Uttar Pradesh Fire Service</a></li>
                    </ul><br>
                    <h3 class="w-hd-u">Clerical Cadre</h3>
                    <ul class="w_ul">
                        <li><a href="~/Home/Manual_CivilPolice">Service Manual of Uttar Pradesh Police Clerk, Accounts and Confidential Assistant Cadre Service (First Amendment)</a></li>
                        <li><a href="~/Home/Manual_CivilPolice">Service Manual of Uttar Pradesh Police Clerk, Accounts and Confidential Assistant Cadre</a></li>
                        <li><a href="~/Home/Manual_CivilPolice">Uttar Pradesh Police Recruitment and Promotion Board Rules</a></li>
                    </ul><br>
                    <h3 class="w-hd-u">Jail Police</h3>
                    <ul class="w_ul">
                        <li><a href="~/Home/Manual_CivilPolice">Service Manual of Uttar Pradesh Jail Warder Service</a></li>
                    </ul><br>
                    <h3 class="w-hd-u">Radio Police</h3>
                    <ul class="w_ul">
                        <li><a href="~/Home/Manual_CivilPolice">Service Manual of Uttar Pradesh Radio Police Service</a></li>
                    </ul><br>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/About"]').parent().addClass('active')
    });
</script>

