
@{
    ViewBag.Title = "Notice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
            <div class="col-lg-2 pl-md-0 pr-md-0 w-bor-r  pb-50">
                <h2 class="w-bgph ">UPPRPB</h2>
                <div class="collapse show  pt-2 pl-0 min-vh-100" id="sidebar">
                    <ul class="nav flex-column flex-nowrap overflow-hidden">
                        <li class="nav-item"><a class="nav-link text-truncate" href="notices.html">Notices</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="#!">General Notices</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="#!">Sub Inspector Notices</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="#!">Constable Civil Police</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="#!">P.A.C.</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="#!">Radio Police</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="#!">Fire Police</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="#!">Jail Police</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="#!">Computer Cadre</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="#!">Ministrial Cadre</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="w_content">
                    <div id="DivContent">
                        <input type="hidden" name="ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$hidCurrentPageNo" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_hidCurrentPageNo" />
                        <input type="hidden" name="ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$hidRecordStartIndex" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_hidRecordStartIndex" value="1" />
                        <input type="hidden" name="ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$hidRecordEndIndex" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_hidRecordEndIndex" value="20" />
                        <input type="hidden" name="ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$hidTotalRecord" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_hidTotalRecord" value="154" />
                        <input type="hidden" name="ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$hidPages" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_hidPages" value="10" />
                        <input type="hidden" name="ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$hidPageName" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_hidPageName" value="whatsnew" />



                        <div id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_Panel1" onkeypress="javascript:return WebForm_FireDefaultButton(event, &#39;ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_btnSearch&#39;)">
                            <h3 class="w-hd-u">Notices</h3>
                            <div id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_divSearch" style="display:block;">
                                <div class="border_line hidden-xs">
                                    <div class="col-6" style=" float: left;">
                                        <div class="form-inline">
                                            <div class="form-group" style="width: 10%;">
                                                <label class="sr-only">Email</label>
                                                <p class="form-control-static" style="margin-right: 2px;">Display</p>
                                                <br />
                                            </div>
                                            <div class="form-group" style="width: 15%;">
                                                <select name="ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$ddlShowPerPage" onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$ddlShowPerPage\&#39;,\&#39;\&#39;)&#39;, 0)" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_ddlShowPerPage" tabindex="1" class="form-control">
                                                    <option selected="selected" value="20">20</option>
                                                    <option value="24">24</option>
                                                    <option value="28">28</option>
                                                    <option value="32">32</option>

                                                </select>
                                            </div>
                                            <p class="form-control-static">Per Page</p>
                                        </div>
                                    </div>
                                    <div class="col-6" style=" float: right;">
                                        <div class="form-inline" style=" float: right;">
                                            <div class="form-group" style="float: right;">
                                                <p class="form-control-static" style="margin-right: 2px;">Category </p>
                                                <select name="ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$cmbCatogory" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_cmbCatogory" class="form-control">
                                                    <option selected="selected" value="0">All</option>
                                                    <option value="Tender">Tender</option>
                                                    <option value="1">Notice Board</option>
                                                    <option value="5">Press Release</option>
                                                    <option value="2">Download</option>
                                                    <option value="3">Budget</option>
                                                    <option value="4">Circular</option>
                                                    <option value="8">Recruitment</option>

                                                </select>
                                                <input type="submit" name="ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$btnSearch" value="Search" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_btnSearch" tabindex="3" title="Click Here" style="margin-top: 2px; /* margin: 27px; */ margin-left: 10px;" class="btn btn-success" />
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="dynamic_update pageheight">
                                    <ul>


                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl01_spnLink">

                                        <li>
                                            <a href='./Notices/pdf/vig1_31102022.pdf' title='Click to view more' target='_blank'>
                                                उ0प्र0 पुलिस में आरक्षी ना0पु0 के पदों पर कुशल खिलाड़ियों की सीधी भर्ती-2022,
                                                आवेदन पत्र जमा किये जाने की अन्तिम तिथि में परिवर्तन के सम्बन्ध में महत्वपूर्ण सूचना। <span class='whatsnew' style="color:brown">[ Notice Board ]</span>
                                            </a></span>
                                            <p class="date">
                                                Date :
                                                31/10/2022
                                            </p>

                                        </li>


                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl02_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig2_28102022.pdf' title='Click here to view more' target='_blank'>आरक्षी ना0पु0 के पद पर मृतक आश्रित के रूप में पुरूष / महिला अभ्यर्थियों की भर्ती -2022 का चयन परिणाम । <span class='whatsnew' style="color:brown">[ Download ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                28/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl03_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig1_28102022.pdf' title='Click here to view more' target='_blank'>उ0प्र0 पुलिस में आरक्षी नागरिक पुलिस के पदों पर कुशल खिलाडियों की सीधी भर्ती -2022 आवदेन पत्र जमा किये जाने के सम्बन्ध में महत्वपूर्ण सूचना । <span class='whatsnew' style="color:brown">[ Download ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                28/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl04_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig1_22102022.pdf' title='Click here to view more' target='_blank'>उपनिरीक्षक सशस्त्र पुलिस /प्लाटून कमाण्डर के पद पर पदोन्नति हेतु शारीरिक दक्षता परीक्षण के आयोजन के सम्बन्ध में । <span class='whatsnew' style="color:brown">[ Download ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                22/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl05_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig1_28102022_.pdf' title='Click here to view more' target='_blank'>उ0प्र0 पुलिस में आरक्षी नागरिक पुलिस के पदों पर कुशल खिलाड़ियों की सीधी भर्ती-2022 हेतु ओपन टेण्डर के माध्यम से पुनः तीसरी बार निविदायें आमंत्रित किये जाने विषयक । <span class='whatsnew' style="color:brown">[ Notice Board ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                17/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl06_spnLink">
                                        <li>
                                            <a href='https://upprpbsimca20.onlineapplicationform.org/UPPRPBM/index.jsp' title='Click here to view more' target='_blank'>पुरूष एवं महिलाओं के लिए उ0प्र0 पुलिस में पुलिस उपनिरीक्षक (गोपनीय, पुलिस सहायक उपनिरीक्षक (लिपिक) एवं पुलिस सहायक उपनिरीक्षक (लेखा) की सीधी भर्ती 2020-21 की भर्ती प्रक्रिया के अन्तर्गत कम्प्यूटर टंकण परीक्षा के एडमिट कार्ड हेतु लिंक । <span class='whatsnew' style="color:brown">[ Notice Board ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                15/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl07_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig1_14102022.pdf' title='Click here to view more' target='_blank'>पुरूष एवं महिलाओं के लिए उ0प्र0 पुलिस में पुलिस उपनिरीक्षक (गोपनीय, पुलिस सहायक उपनिरीक्षक (लिपिक) एवं पुलिस सहायक उपनिरीक्षक (लेखा) की सीधी भर्ती 2020-21 की भर्ती प्रक्रिया के अन्तर्गत कम्प्यूटर टंकण परीक्षा हेतु अभ्यर्थियों के लिए महत्वपूर्ण निर्देश। <span class='whatsnew' style="color:brown">[ Download ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                14/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl08_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig6_13102022.pdf' title='Click here to view more' target='_blank'>पुरूष एवं महिलाओं के लिए उ0प्र0 पुलिस में पुलिस उपनिरीक्षक (गोपनीय, पुलिस सहायक उपनिरीक्षक (लिपिक) एवं पुलिस सहायक उपनिरीक्षक (लेखा) की सीधी भर्ती 2020-21 की भर्ती प्रक्रिया के अन्तर्गत कम्प्यूटर टंकण परीक्षा हेतु परीक्षा तिथि /समय एवं अभ्यास टेस्ट के सम्बन्ध में ।  <span class='whatsnew' style="color:brown">[ Download ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                13/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl09_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig5_13102022.pdf' title='Click here to view more' target='_blank'>मृतक आश्रित के रूप में आरक्षी ना0 पु0 के पद पर पुरूष एवं महिला अभ्यथियों की भर्ती -2021 का चयन परिणाम । <span class='whatsnew' style="color:brown">[ Notice Board ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                13/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl10_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig2_28102022.pdf' title='Click here to view more' target='_blank'>मृतक आश्रित के रूप में आरक्षी ना0 पु0 के पद पर पुरूष एवं महिला अभ्यथियों की भर्ती -2022 का चयन परिणाम । <span class='whatsnew' style="color:brown">[ Notice Board ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                17/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl11_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig2_28102022.pdf' title='Click here to view more' target='_blank'>मृतक आश्रित के रूप में पुलिस सहायक उपनिरीक्षक (लिपिक) के पदों पर दक्षता मूल्याकंन परीक्षा (कम्प्यूटर टंकण परीक्षा) का परिणाम ।  <span class='whatsnew' style="color:brown">[ Notice Board ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                15/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl12_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig2_28102022.pdf' title='Click here to view more' target='_blank'>मृतक आश्रित के रूप में आरक्षी ना0 पु0 के पद पर पुरूष एवं महिला अभ्यथियों की भर्ती -2022 का चयन परिणाम ।  <span class='whatsnew' style="color:brown">[ Download ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                14/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl13_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig2_28102022.pdf' title='Click here to view more' target='_blank'>उ0प्र0 पुलिस में आरक्षी नागरिक पुलिस के पदों पर कुशल खिलाड़ियों की सीधी भर्ती -2022 आवेदन पत्र भरे जाने के सम्बन्ध में महत्वपूर्ण सूचना । <span class='whatsnew' style="color:brown">[ Notice Board ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                14/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl14_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig2_28102022.pdf' title='Click here to view more' target='_blank'>मृतक आश्रित के रूप में आरक्षी ना0 पु0 के पद पर पुरूष एवं महिला अभ्यथियों की भर्ती -2022 का चयन परिणाम । <span class='whatsnew' style="color:brown">[ Download ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                14/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl15_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig2_28102022.pdf' title='Click to view more' target='_blank'>उ0प्र0 पुलिस में आरक्षी नागरिक पुलिस के पदों पर कुशल खिलाडियों की सीधी भर्ती -2022 आवेदन पत्र भरे जाने के सम्बन्ध में अभ्यर्थियों द्वारा की गयी पृच्छा के सम्बन्ध में सूचना एवं खेल विधाओं व विशिष्टताओं के अंकन हेतु कोड का विवरण ।   <span class='whatsnew' style="color:brown">[ Notice Board ]</span></a>
                                            <p class="date">
                                                Date :
                                                13/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl16_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig2_28102022.pdf' title='Click here to view more' target='_blank'>पुलिस सहायक उपनिरीक्षक (लिपिक) के पदों पर मृतक आश्रित अभ्यर्थियों की दक्षता मूल्याकंन परीक्षा (कम्प्यूटर टंकण परीक्षा) का परिणाम । <span class='whatsnew' style="color:brown">[ Notice Board ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                13/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl17_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig2_28102022.pdf' title='Click here to view more' target='_blank'>उपनिरीक्षक नागरिक पुलिस (नई नियमावली से आच्छादित) के पदों पर मृतक आश्रित अभ्यर्थियों की शारीरिक दक्षता परीक्षा(PET/ दौड़) का परिणाम ।  <span class='whatsnew' style="color:brown">[ Download ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                13/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl18_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig2_28102022.pdf' title='Click here to view more' target='_blank'>पुरुष एवं महिलाओं के लिये उ0प्र0 पुलिस में पुलिस उपनिरीक्षक (गोपनीय), पुलिस सहायक उपनिरीक्षक, (लिपिक) एवं पुलिस सहायक उपनिरीक्षक (लेखा) की सीथी भर्ती-2020-21 की भर्ती प्रक्रिया के अन्तर्गत कम्प्यूटर टंकण हेतु पात्र अतिरिक्त अभ्यर्थियों हेतु सूचना । <span class='whatsnew' style="color:brown">[ Download ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                07/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl19_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig2_28102022.pdf' title='Click here to view more' target='_blank'>उ0प्र0 पुलिस में आरक्षी नागरिक पुलिस के पदों पर कुशल खिलाड़ियों की सीधी भर्ती- 2022 के सम्बन्ध में स्टेट बैन्क आफ इण्डिया में आवेदन शुल्क जमा किये जाने हेतु जारी दिशा निर्देश । <span class='whatsnew' style="color:brown">[ Notice Board ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                07/10/2022
                                            </p>

                                        </li>



                                        <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptWhatsnewpage_ctl20_spnLink">
                                        <li>
                                            <a href='./Notices/pdf/vig2_28102022.pdf' title='Click here to view more' target='_blank'>उ0प्र0 पुलिस में आरक्षी नागरिक पुलिस के पदों पर कुशल खिलाड़ियों की सीधी भर्ती- 2022 का कैंडीडेट गूगल फार्म । <span class='whatsnew' style="color:brown">[ Notice Board ]</span></a><br />
                                            <p class="date">
                                                Date :
                                                07/10/2022
                                            </p>

                                        </li>


                                    </ul>

                                </div>

                                <div id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_divPager" class="border_line hidden-xs top_gap bott_margin">
                                    <div class="col-md-6 col-sm-6">
                                        <p class="form-control-static">
                                            Displaying <strong>
                                                1-20
                                            </strong> of <strong>
                                                154
                                            </strong> Records
                                        </p>
                                    </div>

                                    <div class="col-md-6 col-sm-6 text_alain_r">
                                        <nav>
                                            <ul class="pagination pagination-sm">

                                                <li class=''>

                                                    <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptPager_ctl01_lblText">Page </span>
                                                </li>

                                                <li class='active'>
                                                    <a id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptPager_ctl02_lnkButton" title="Page:1" href="javascript:__doPostBack(&#39;ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$rptPager$ctl02$lnkButton&#39;,&#39;&#39;)">1</a>

                                                </li>

                                                <li class=''>
                                                    <a id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptPager_ctl03_lnkButton" title="Page:2" href="javascript:__doPostBack(&#39;ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$rptPager$ctl03$lnkButton&#39;,&#39;&#39;)">2</a>

                                                </li>

                                                <li class=''>
                                                    <a id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptPager_ctl04_lnkButton" title="Page:3" href="javascript:__doPostBack(&#39;ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$rptPager$ctl04$lnkButton&#39;,&#39;&#39;)">3</a>

                                                </li>

                                                <li class=''>
                                                    <a id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptPager_ctl05_lnkButton" title="Page:4" href="javascript:__doPostBack(&#39;ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$rptPager$ctl05$lnkButton&#39;,&#39;&#39;)">4</a>

                                                </li>

                                                <li class=''>
                                                    <a id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptPager_ctl06_lnkButton" title="Page:5" href="javascript:__doPostBack(&#39;ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$rptPager$ctl06$lnkButton&#39;,&#39;&#39;)">5</a>

                                                </li>

                                                <li class='active'>
                                                    <a id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptPager_ctl07_lnkButton" title="More..." href="javascript:__doPostBack(&#39;ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$rptPager$ctl07$lnkButton&#39;,&#39;&#39;)">...</a>

                                                </li>

                                                <li class=''>

                                                    <span id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptPager_ctl08_lblText"> of 8 </span>
                                                </li>

                                                <li class=''>
                                                    <a id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptPager_ctl09_lnkButton" title="Next" href="javascript:__doPostBack(&#39;ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$rptPager$ctl09$lnkButton&#39;,&#39;&#39;)">&raquo;</a>

                                                </li>

                                                <li class=''>
                                                    <a id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_ucg1_rptPager_ctl10_lnkButton" title="Last" href="javascript:__doPostBack(&#39;ctl00$ctl00$ContentPlaceHolder1$ContentPlaceHolder1$ucg1$rptPager$ctl10$lnkButton&#39;,&#39;&#39;)">&raquo;|</a>

                                                </li>

                                            </ul>
                                        </nav>
                                    </div>

                                </div>
                            </div>



                            <div class="clearfix"></div>

                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/Notice"]').parent().addClass('active')
    });
</script>