@using UPPRB_Web.Models.Masters;
@{
    ViewBag.Title = "Notice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var noticeData = ViewData["NoticeData"] as List<NoticeModel>;
    var noticeType = ViewData["NoticeType"] as List<NoticeTypeModel>;
}
<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
            @Html.Partial("_Notice_SideMenu", noticeType)
            <div class="col-lg-10">
                <div class="w_content">
                    <div id="DivContent">
                        <div id="Panel1">
                            <h3 class="w-hd-u">Notices</h3>
                            <div id="divSearch" style="display:block;">
                                <div class="dynamic_update pageheight">
                                    <ul>
                                        @foreach (var item in noticeData)
                                        {
                                            @*<span id="spnLink"></span>*@
                                            if (!string.IsNullOrEmpty(item.filename))
                                            {
                                                <li>
                                                    @if (item.IsNew == true)
                                                    {
                                                        <img id="Image1_0" class="w_fl_ico" src="~/Content/images/new.gif">
                                                    }
                                                    <a href='~/FilesUploaded/Notices/@item.filename' title='Click to view more' target='_blank'>
                                                        @item.Subject<span class='whatsnew' style="color:brown"> [ Notice Board ]</span>
                                                    </a>
                                                    <p class="date">
                                                        Date :
                                                        @item.NoticeDate.Value.ToString("dd/MM/yyyy")
                                                    </p>
                                                </li>
                                            }
                                            else
                                            {

                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/Notice"]').parent().addClass('active')
    });
</script>