
@{
    ViewBag.Title = "OfficersDirectory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
            @Html.Partial("_Contact_SideMenu")

            <div class="col-lg-10">
                <div class="w_content">
                    <h3 class="w-hd-u h3bg">Officers Directory</h3>
                    <!--<div class="row head45">


                        <div class="col-sm-1"><span>Display</span></div>
                        <div class="col-sm-1" style="margin-left: -45px;">
                            <div class="form-group">

                                <select class="selectpicker form-control">
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>


                            </div>
                        </div>
                        <div class="col-sm-1" style="margin-left: -20px;"><span>Per Page</span></div>
                    </div>-->
                    <table class="table table-bordered" style=" margin:10px 0px;">

                        <tbody>
                            <tr>
                                <td>Designation</td>
                                <td>Name</td>
                                <td>Email</td>
                                <td>Phone No.</td>

                            </tr>
                            <tr>

                                <td>ADG</td>
                                <td>xxxxxx</td>
                                <td>aa@gmail.com</td>
                                <td>6767747446</td>
                            </tr>
                            <tr>
                                <td>ADG</td>
                                <td>xxxxxxx</td>
                                <td>aa@gmail.com</td>
                                <td>6767747446</td>

                            </tr>

                            <tr>
                                <td>ADG</td>
                                <td>xxxxxx</td>
                                <td>aa@gmail.com</td>
                                <td>6767747446</td>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/Contact"]').parent().addClass('active')
    });
</script>