
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PACLogin| Uttar Pradesh Police Recruitment & Promotion Board</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/Content/images/favicon-32x32.png" type="image/png">
    <!-- Bootstrap CSS -->
    <link href="~/Content/css/bootstrap.min1.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-extended.css" rel="stylesheet">
    <link href="~/Content/css/style1.css" rel="stylesheet">
    <link href="~/Content/css/icons.css" rel="stylesheet">
    <link href="../../../../../css2-1.css?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../../../npm/bootstrap-icons@1.5.0/font/bootstrap-icons-1.css">

    <!-- loader-->
    <link href="~/Content/css/pace.min.css" rel="stylesheet">

</head>
<body>
    <!--start wrapper-->
    <div class="wrapper">

        <!--start content-->
        <main class="authentication-content">

            <div class="container-fluid">

                <div class="authentication-card">




                    <div class="card shadow rounded-0 overflow-hidden">



                        <div class="row g-0">
                            <h4 class="mainheading"> <img href="~/Content/images/logo.png" />Uttar Pradesh Police Recruitment & Promotion Board || Preventive Action Cell </h4>

                            <div class="col-lg-6 d-flex align-items-center justify-content-center border-end">
                                <img src="~/Content/images/enter_mobile.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6">
                                <div class="card-body p-4 p-sm-5">
                                    <h5 class="card-title text-center mb-2 font-20"><strong>Employee User Login</strong></h5>
                                    <p class="card-text mb-3 text-center pt-2" style="    line-height: 30px;">Please enter you Login & Your Password</p>
                                    <div class="form-body">
                                        @using (Html.BeginForm("PACLogin", "Home", FormMethod.Post))
                                        {
                                            <div class="row g-3">
                                                <div class="col-12">
                                                    <div class="input-group flex-nowrap">
                                                        <span class="input-group-text" id="addon-wrapping"><i class="bx bx-user"></i></span>
                                                        <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="input-group flex-nowrap">
                                                        <span class="input-group-text" id="addon-wrapping"><i class="bx bx-lock"></i></span>
                                                        <input type="password" class="form-control" name="password" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping">
                                                    </div>
                                                </div>
                                                <div class="col-4 offset-md-8">
                                                    <div class="d-grid gap-3">
                                                        <button type="submit" class="btn  btn-lg btn-primary radius-30">login<i class="bx bx-right-arrow-alt"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!--end page main-->


    </div>
    <!--end wrapper-->
    <!--plugins-->
    <script src="~/Content/js/jquery.min1.js"></script>
    <script src="~/Content/js/pace.min.js"></script>
</body>
</html>
