
@{
    ViewBag.Title = "PhotoGallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
            <div class="col-lg-2 pl-md-0 pr-md-0 w-bor-r  pb-50">
                <h2 class="w-bgph ">UPPRPB</h2>
                <div class="collapse show  pt-2 pl-0 min-vh-100" id="sidebar">
                    <ul class="nav flex-column flex-nowrap overflow-hidden">
                        <li class="nav-item"><a class="nav-link text-truncate" href="gallery.html">Photo Gallery</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="#!">Media</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="#!">Events</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="#!">Newscutting</a></li>
                        <li class="nav-item"><a class="nav-link text-truncate" href="#!">Seminar</a></li>
                    </ul>
                </div>


            </div>
            <div class="col-lg-10 w_content pt-20 mt-0">
                <h2 class="w-bgph ">Photo Gallery</h2>
                <hr>
                <div class="clr"></div>
                <div>
                    <span id="ContentPlaceHolder2_DataList1" class="row" EmptyDataText="Empty">
                        <span class="col-md-3">
                            <div style="height:160px; overflow:hidden; border: 1px solid #CCCCCC; margin-bottom:10px;">
                                <div style="text-align: center; background-color: #F8F8F8;  padding: 0px; margin: 5px; height: 120px; width:100%; overflow:hidden; ">

                                    <input type="image" name="ctl00$ContentPlaceHolder2$DataList1$ctl00$ImageButton1" id="ContentPlaceHolder2_DataList1_ImageButton1_0" title="Int. Yoga Day 2022" src="photogallary/Int.%20Yoga%20Day%20202254494_06282022.jpg" style="width:100%;" />
                                </div><a id="ContentPlaceHolder2_DataList1_LinkButton1_0" href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder2$DataList1$ctl00$LinkButton1&#39;,&#39;&#39;)">Media</a>
                            </div>
                        </span><span class="col-md-3">
                            <div style="height:160px; overflow:hidden; border: 1px solid #CCCCCC; margin-bottom:10px;">
                                <div style="text-align: center; background-color: #F8F8F8;  padding: 0px; margin: 5px; height: 120px; width:100%; overflow:hidden; ">

                                    <input type="image" name="ctl00$ContentPlaceHolder2$DataList1$ctl01$ImageButton1" id="ContentPlaceHolder2_DataList1_ImageButton1_1" title="26th January 2022" src="photogallary/26th%20January%20202209923_02102022.jpg" style="width:100%;" />
                                </div><a id="ContentPlaceHolder2_DataList1_LinkButton1_1" href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder2$DataList1$ctl01$LinkButton1&#39;,&#39;&#39;)">Events</a>
                            </div>
                        </span><span class="col-md-3">
                            <div style="height:160px; overflow:hidden; border: 1px solid #CCCCCC; margin-bottom:10px;">
                                <div style="text-align: center; background-color: #F8F8F8;  padding: 0px; margin: 5px; height: 120px; width:100%; overflow:hidden; ">

                                    <input type="image" name="ctl00$ContentPlaceHolder2$DataList1$ctl02$ImageButton1" id="ContentPlaceHolder2_DataList1_ImageButton1_2" title="Facilities" src="photogallary/University%20Facilities89745_08152021.jpg" style="width:100%;" />
                                </div><a id="ContentPlaceHolder2_DataList1_LinkButton1_2" href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder2$DataList1$ctl02$LinkButton1&#39;,&#39;&#39;)">News</a>
                            </div>
                        </span><span class="col-md-3">
                            <div style="height:160px; overflow:hidden; border: 1px solid #CCCCCC; margin-bottom:10px;">
                                <div style="text-align: center; background-color: #F8F8F8;  padding: 0px; margin: 5px; height: 120px; width:100%; overflow:hidden; ">

                                    <input type="image" name="ctl00$ContentPlaceHolder2$DataList1$ctl02$ImageButton1" id="ContentPlaceHolder2_DataList1_ImageButton1_2" title="Facilities" src="photogallary/University%20Facilities89745_08152021.jpg" style="width:100%;" />
                                </div><a id="ContentPlaceHolder2_DataList1_LinkButton1_2" href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder2$DataList1$ctl02$LinkButton1&#39;,&#39;&#39;)">News</a>
                            </div>
                        </span><span class="col-md-3">
                            <div style="height:160px; overflow:hidden; border: 1px solid #CCCCCC; margin-bottom:10px;">
                                <div style="text-align: center; background-color: #F8F8F8;  padding: 0px; margin: 5px; height: 120px; width:100%; overflow:hidden; ">

                                    <input type="image" name="ctl00$ContentPlaceHolder2$DataList1$ctl02$ImageButton1" id="ContentPlaceHolder2_DataList1_ImageButton1_2" title="Facilities" src="photogallary/University%20Facilities89745_08152021.jpg" style="width:100%;" />
                                </div><a id="ContentPlaceHolder2_DataList1_LinkButton1_2" href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder2$DataList1$ctl02$LinkButton1&#39;,&#39;&#39;)">News</a>
                            </div>
                        </span><span class="col-md-3">
                            <div style="height:160px; overflow:hidden; border: 1px solid #CCCCCC; margin-bottom:10px;">
                                <div style="text-align: center; background-color: #F8F8F8;  padding: 0px; margin: 5px; height: 120px; width:100%; overflow:hidden; ">

                                    <input type="image" name="ctl00$ContentPlaceHolder2$DataList1$ctl02$ImageButton1" id="ContentPlaceHolder2_DataList1_ImageButton1_2" title="Facilities" src="photogallary/University%20Facilities89745_08152021.jpg" style="width:100%;" />
                                </div><a id="ContentPlaceHolder2_DataList1_LinkButton1_2" href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder2$DataList1$ctl02$LinkButton1&#39;,&#39;&#39;)">News</a>
                            </div>
                        </span><span class="col-md-3">
                            <div style="height:160px; overflow:hidden; border: 1px solid #CCCCCC; margin-bottom:10px;">
                                <div style="text-align: center; background-color: #F8F8F8;  padding: 0px; margin: 5px; height: 120px; width:100%; overflow:hidden; ">

                                    <input type="image" name="ctl00$ContentPlaceHolder2$DataList1$ctl02$ImageButton1" id="ContentPlaceHolder2_DataList1_ImageButton1_2" title="Facilities" src="photogallary/University%20Facilities89745_08152021.jpg" style="width:100%;" />
                                </div><a id="ContentPlaceHolder2_DataList1_LinkButton1_2" href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder2$DataList1$ctl02$LinkButton1&#39;,&#39;&#39;)">News</a>
                            </div>
                        </span><span class="col-md-3">
                            <div style="height:160px; overflow:hidden; border: 1px solid #CCCCCC; margin-bottom:10px;">
                                <div style="text-align: center; background-color: #F8F8F8;  padding: 0px; margin: 5px; height: 120px; width:100%; overflow:hidden; ">

                                    <input type="image" name="ctl00$ContentPlaceHolder2$DataList1$ctl03$ImageButton1" id="ContentPlaceHolder2_DataList1_ImageButton1_3" title="Seminar" src="photogallary/Classrooms%20and%20Seminar%20Halls65740_08112021.jpg" style="width:100%;" />
                                </div><a id="ContentPlaceHolder2_DataList1_LinkButton1_3" href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder2$DataList1$ctl03$LinkButton1&#39;,&#39;&#39;)">Seminar</a>
                            </div>
                        </span><br />
                    </span>

                </div>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/PhotoGallery"]').parent().addClass('active')
    });
</script>