
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">

            @Html.Partial("_FAQ_SideMenu")

            <div class="col-lg-10 w_content pt-20 mt-0">                
                <h2 class="w-bgph ">Privacy Policy</h2>
                    @*<img class="d-block w-100" src="~/Content/images/2.jpg" alt="UPPRPB">
                    <br>
                    <h3 class="w-hd-u">Privacy Policy</h3>*@
                    <p style="text-align:justify">This privacy policy is for www.uppbpb.gov.in and served by U.P.Police Recruitment and Promotion Board and governs the privacy of its users who choose to use it. The policy sets out the different areas where user privacy is concerned and outlines the obligations & requirements of the users, the website and its owners.</p>
                    <p style="text-align:justify">This website and its owners take a proactive approach to user privacy and ensure that the necessary steps are taken to protect the privacy of its users throughout their visiting experience</p>
                    <p style="text-align:justify">Users contacting this website and/or its owners do so at their own discretion and provide any such personal details requested at their own risk. Your personal information is kept private and stored securely until a time it is no longer required or has no use.</p>
                    <p style="text-align:justify">This website and its owners use any information submitted to provide you with further information about the products / services they offer or to assist you in answering any questions or queries you may have submitted. This includes using your details to subscribe you to any email newsletter program the website operates but only if this was made clear to you and your express permission was granted when submitting any form to email process. Or whereby you the consumer have previously purchased from or enquired about purchasing from the company a product or service that the email newsletter relates to. This is by no means an entire list of your user rights in regard to receiving email marketing material. Your details are not passed on to any third parties.</p>    
                    <br>
                    <br>
                    <div class="clearfix"></div>                
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>

@*<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/About"]').parent().addClass('active')
    });
</script>*@