
@{
    ViewBag.Title = "Sitemap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    ul, li {
        margin: 0;
        padding: 0;
    }

    .sitemap > li > ul {
        margin-top: 1.5rem;
    }

    ul {
        list-style: none;
    }

        ul li {
            line-height: 1.5rem;
            vertical-align: top;
            position: relative;
        }

            ul li a {
                text-decoration: none;
                color: #f80;
                display: inline-block;
            }

        ul ul {
            margin-left: 1.5rem;
            margin-bottom: 1.5rem;
        }

            ul ul li {
                position: relative;
            }

                ul ul li::before {
                    content: "";
                    display: inline-block;
                    width: 3rem;
                    height: 100%;
                    border-left: 1px #ccc solid;
                    position: absolute;
                    top: -0.75rem;
                }

                ul ul li::before {
                    content: "";
                    display: inline-block;
                    width: 3rem;
                    height: 1.5rem;
                    border-bottom: 1px #ccc solid;
                    position: absolute;
                    top: -0.75rem;
                }

                ul ul li a {
                    margin-left: 3.75rem;
                }
</style>
<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">
            <div class="col-lg-12 w_content pt-20 mt-0">
                <h2 class="w-bgph">Sitemap</h2>
                <hr>
                <div class="clr"></div>
                <div class="panel-body">
                    <ul class="sitemap">
                        <li>
                            <a href="">Home</a>
                            <ul>
                                <li>
                                    <a href="">About</a>
                                    <ul>
                                        <li><a href="">Business</a></li>
                                        <li><a href="">Philosophy</a></li>
                                        <li><a href="">Staff</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">Works</a>
                                    <ul>
                                        <li><a href="">2015</a></li>
                                        <ul>
                                            <li><a href="">Company</a></li>
                                            <li><a href="">Service</a></li>
                                            <li><a href="">Contest</a></li>
                                        </ul>
                                </li>
                                <li>
                                    <a href="">2014</a>
                                    <ul>
                                        <li><a href="">Company</a></li>
                                        <li><a href="">Service</a></li>
                                        <li><a href="">Contest</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">2013</a>
                                    <ul>
                                        <li><a href="">Company</a></li>
                                        <li><a href="">Service</a></li>
                                        <li><a href="">Contest</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Sitemap</a></li>
                        <li>
                            <a href="">Recruit</a>
                            <ul>
                                <li><a href="">Web Director</a></li>
                                <li><a href="">Web Designer</a></li>
                                <li><a href="">Web Engineer</a></li>
                            </ul>
                        </li>
                    </ul>
                    </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
