@{
    ViewBag.Title = "Tender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-single section">
    <div class="container  wsh">


        <div class="w_content pt-20 mt-0">
            <h2 class="w-bgph ">Tender</h2>         

            <div class=" table-responsive">
                <div>
                    <table cellspacing="4" cellpadding="4" id="ContentPlaceHolder2_GridView1" style="width:100%;">
                        <tr class="pagination-ys">
                            <td>
                                <table>
                                    <tr>
                                        <td><span>1</span></td>
                                        <td><a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder2$GridView1&#39;,&#39;Page$2&#39;)">2</a></td>
                                        <td><a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder2$GridView1&#39;,&#39;Page$3&#39;)">3</a></td>
                                        <td><a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder2$GridView1&#39;,&#39;Page$4&#39;)">4</a></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr align="left">
                            <td>
                                <table cellpadding="0" cellspacing="0"
                                       style="text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
                                    <tr>
                                        <td colspan="2" style="padding-left: 10px; padding-right: 5px">
                                            <b>Subject:&nbsp;</b> <a href='#!' target="_blank">Form 2021-22 </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="padding-left: 10px; padding-right: 5px">
                                            Date:&nbsp;
                                        </td>
                                        <td align="right" width="50%" style="padding-left: 10px; padding-right: 10px">Attachment:<a id="ContentPlaceHolder2_GridView1_HyperLink2_0" href="http://www.mmmut.ac.in/Download/33322download_08092022.xlsx" target="_blank" style="color:#CC3300;"> Download <i class="fa fa-download"> </i></a></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr align="left">
                            <td>
                                <table cellpadding="0" cellspacing="0"
                                       style="text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
                                    <tr>
                                        <td colspan="2" style="padding-left: 10px; padding-right: 5px">
                                            <b>Subject:&nbsp;</b> <a href='#!' target="_blank"> Form </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="padding-left: 10px; padding-right: 5px">
                                            Date:&nbsp;
                                        </td>
                                        <td align="right" width="50%" style="padding-left: 10px; padding-right: 10px">Attachment:<a id="ContentPlaceHolder2_GridView1_HyperLink2_1" href="http://www.mmmut.ac.in/Download/43500download_08092022.xlsx" target="_blank" style="color:#CC3300;"> Download <i class="fa fa-download"> </i></a></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr align="left">
                            <td>
                                <table cellpadding="0" cellspacing="0"
                                       style="text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
                                    <tr>
                                        <td colspan="2" style="padding-left: 10px; padding-right: 5px">
                                            <b>Subject:&nbsp;</b> <a href='#!' target="_blank"> Form </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="padding-left: 10px; padding-right: 5px">
                                            Date:&nbsp;
                                        </td>
                                        <td align="right" width="50%" style="padding-left: 10px; padding-right: 10px">Attachment:<a id="ContentPlaceHolder2_GridView1_HyperLink2_2" href="http://www.mmmut.ac.in/Download/44041download_10302021.pdf" target="_blank" style="color:#CC3300;"> Download <i class="fa fa-download"> </i></a></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr align="left">
                            <td>
                                <table cellpadding="0" cellspacing="0"
                                       style="text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
                                    <tr>
                                        <td colspan="2" style="padding-left: 10px; padding-right: 5px">
                                            <b>Subject:&nbsp;</b> <a href='#!' target="_blank"> Form </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="padding-left: 10px; padding-right: 5px">
                                            Date:&nbsp;
                                        </td>
                                        <td align="right" width="50%" style="padding-left: 10px; padding-right: 10px">Attachment:<a id="ContentPlaceHolder2_GridView1_HyperLink2_3" href="http://www.mmmut.ac.in/Download/05511download_10102021.PDF" target="_blank" style="color:#CC3300;"> Download <i class="fa fa-download"> </i></a></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr align="left">
                            <td>
                                <table cellpadding="0" cellspacing="0"
                                       style="text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
                                    <tr>
                                        <td colspan="2" style="padding-left: 10px; padding-right: 5px">
                                            <b>Subject:&nbsp;</b> <a href='#!' target="_blank"> Form </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="padding-left: 10px; padding-right: 5px">
                                            Date:&nbsp;
                                        </td>
                                        <td align="right" width="50%" style="padding-left: 10px; padding-right: 10px">Attachment:<a id="ContentPlaceHolder2_GridView1_HyperLink2_4" href="http://www.mmmut.ac.in/Download/25154download_10102021.PDF" target="_blank" style="color:#CC3300;"> Download <i class="fa fa-download"> </i></a></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr align="left">
                            <td>
                                <table cellpadding="0" cellspacing="0"
                                       style="text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
                                    <tr>
                                        <td colspan="2" style="padding-left: 10px; padding-right: 5px">
                                            <b>Subject:&nbsp;</b> <a href='#!' target="_blank"> Form </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="padding-left: 10px; padding-right: 5px">
                                            Date:&nbsp;
                                        </td>
                                        <td align="right" width="50%" style="padding-left: 10px; padding-right: 10px">Attachment:<a id="ContentPlaceHolder2_GridView1_HyperLink2_5" href="http://www.mmmut.ac.in/Download/14454download_10102021.PDF" target="_blank" style="color:#CC3300;"> Download <i class="fa fa-download"> </i></a></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr align="left">
                            <td>
                                <table cellpadding="0" cellspacing="0"
                                       style="text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
                                    <tr>
                                        <td colspan="2" style="padding-left: 10px; padding-right: 5px">
                                            <b>Subject:&nbsp;</b> <a href='#!' target="_blank"> Form </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="padding-left: 10px; padding-right: 5px">
                                            Date:&nbsp;
                                        </td>
                                        <td align="right" width="50%" style="padding-left: 10px; padding-right: 10px">Attachment:<a id="ContentPlaceHolder2_GridView1_HyperLink2_6" href="http://www.mmmut.ac.in/Download/50014download_07232021.pdf" target="_blank" style="color:#CC3300;"> Download <i class="fa fa-download"> </i></a></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr align="left">
                            <td>
                                <table cellpadding="0" cellspacing="0"
                                       style="text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
                                    <tr>
                                        <td colspan="2" style="padding-left: 10px; padding-right: 5px">
                                            <b>Subject:&nbsp;</b> <a href='#!' target="_blank"> Form </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="padding-left: 10px; padding-right: 5px">
                                            Date:&nbsp;
                                        </td>
                                        <td align="right" width="50%" style="padding-left: 10px; padding-right: 10px">Attachment:<a id="ContentPlaceHolder2_GridView1_HyperLink2_7" href="http://www.mmmut.ac.in/Download/32044download_09092021.pdf" target="_blank" style="color:#CC3300;"> Download <i class="fa fa-download"> </i></a></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr align="left">
                            <td>
                                <table cellpadding="0" cellspacing="0"
                                       style="text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
                                    <tr>
                                        <td colspan="2" style="padding-left: 10px; padding-right: 5px">
                                            <b>Subject:&nbsp;</b> <a href='#!' target="_blank"> Form </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="padding-left: 10px; padding-right: 5px">
                                            Date:&nbsp;
                                        </td>
                                        <td align="right" width="50%" style="padding-left: 10px; padding-right: 10px">Attachment:<a id="ContentPlaceHolder2_GridView1_HyperLink2_8" href="http://www.mmmut.ac.in/Download/50231download_04202021.pdf" target="_blank" style="color:#CC3300;"> Download <i class="fa fa-download"> </i></a></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr align="left">
                            <td>
                                <table cellpadding="0" cellspacing="0"
                                       style="text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
                                    <tr>
                                        <td colspan="2" style="padding-left: 10px; padding-right: 5px">
                                            <b>Subject:&nbsp;</b> <a href='#!' target="_blank"> Form </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="padding-left: 10px; padding-right: 5px">
                                            Date:&nbsp;
                                        </td>
                                        <td align="right" width="50%" style="padding-left: 10px; padding-right: 10px">Attachment:<a id="ContentPlaceHolder2_GridView1_HyperLink2_9" href="http://www.mmmut.ac.in/Download/13345download_03202021.pdf" target="_blank" style="color:#CC3300;"> Download <i class="fa fa-download"> </i></a></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr align="left">
                            <td>
                                <table cellpadding="0" cellspacing="0"
                                       style="text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
                                    <tr>
                                        <td colspan="2" style="padding-left: 10px; padding-right: 5px">
                                            <b>Subject:&nbsp;</b> <a href='#!' target="_blank"> Form </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="padding-left: 10px; padding-right: 5px">
                                            Date:&nbsp;
                                        </td>
                                        <td align="right" width="50%" style="padding-left: 10px; padding-right: 10px">Attachment:<a id="ContentPlaceHolder2_GridView1_HyperLink2_10" href="http://www.mmmut.ac.in/Download/55554download_01302021.pdf" target="_blank" style="color:#CC3300;"> Download <i class="fa fa-download"> </i></a></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr align="left">
                            <td>
                                <table cellpadding="0" cellspacing="0"
                                       style="text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
                                    <tr>
                                        <td colspan="2" style="padding-left: 10px; padding-right: 5px">
                                            <b>Subject:&nbsp;</b> <a href='#!' target="_blank"> Form </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="padding-left: 10px; padding-right: 5px">
                                            Date:&nbsp;
                                        </td>
                                        <td align="right" width="50%" style="padding-left: 10px; padding-right: 10px">Attachment:<a id="ContentPlaceHolder2_GridView1_HyperLink2_11" href="http://www.mmmut.ac.in/Download/10253download_01302021.pdf" target="_blank" style="color:#CC3300;"> Download <i class="fa fa-download"> </i></a></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr align="left">
                            <td>
                                <table cellpadding="0" cellspacing="0"
                                       style="text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
                                    <tr>
                                        <td colspan="2" style="padding-left: 10px; padding-right: 5px">
                                            <b>Subject:&nbsp;</b> <a href='#!' target="_blank"> Form </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="padding-left: 10px; padding-right: 5px">
                                            Date:&nbsp;
                                        </td>
                                        <td align="right" width="50%" style="padding-left: 10px; padding-right: 10px">Attachment:<a id="ContentPlaceHolder2_GridView1_HyperLink2_12" href="http://www.mmmut.ac.in/Download/51505download_01302021.pdf" target="_blank" style="color:#CC3300;"> Download <i class="fa fa-download"> </i></a></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr align="left">
                            <td>
                                <table cellpadding="0" cellspacing="0"
                                       style="text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
                                    <tr>
                                        <td colspan="2" style="padding-left: 10px; padding-right: 5px">
                                            <b>Subject:&nbsp;</b> <a href='#!' target="_blank"> Form </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="padding-left: 10px; padding-right: 5px">
                                            Date:&nbsp;
                                        </td>
                                        <td align="right" width="50%" style="padding-left: 10px; padding-right: 10px">Attachment:<a id="ContentPlaceHolder2_GridView1_HyperLink2_13" href="http://www.mmmut.ac.in/Download/35354download_02032020.pdf" target="_blank" style="color:#CC3300;"> Download <i class="fa fa-download"> </i></a></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr align="left">
                            <td>
                                <table cellpadding="0" cellspacing="0"
                                       style="text-align: left; background-color: #FBFBFB; border: 1px solid #EBEBEB; padding: 5px; margin-bottom: 5px; width: 100%">
                                    <tr>
                                        <td colspan="2" style="padding-left: 10px; padding-right: 5px">
                                            <b>Subject:&nbsp;</b> <a href='#!' target="_blank"> Form </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%" style="padding-left: 10px; padding-right: 5px">
                                            Date:&nbsp;
                                        </td>
                                        <td align="right" width="50%" style="padding-left: 10px; padding-right: 10px">Attachment:<a id="ContentPlaceHolder2_GridView1_HyperLink2_14" href="http://www.mmmut.ac.in/Download/52042download_12192019.xlsx" target="_blank" style="color:#CC3300;"> Download <i class="fa fa-download"> </i></a></td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                        <tr class="pagination-ys">
                            <td>
                                <table>
                                    <tr>
                                        <td><span>1</span></td>
                                        <td><a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder2$GridView1&#39;,&#39;Page$2&#39;)">2</a></td>
                                        <td><a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder2$GridView1&#39;,&#39;Page$3&#39;)">3</a></td>
                                        <td><a href="javascript:__doPostBack(&#39;ctl00$ContentPlaceHolder2$GridView1&#39;,&#39;Page$4&#39;)">4</a></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>



            </div>
        </div>


    </div>
</section>
<!--/ End Blog Single -->
