
@{
    ViewBag.Title = "Terms and Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="hero-slider">
    <div class="pr-15 pl-15">
        <div class="row">

            @Html.Partial("_FAQ_SideMenu")

            <div class="col-lg-10 w_content pt-20 mt-0">                
                <h2 class="w-bgph ">Terms and Conditions</h2>
                    @*<img class="d-block w-100" src="~/Content/images/2.jpg" alt="UPPRPB">
                    <br>
                    <h3 class="w-hd-u">Privacy Policy</h3>*@
            <ul class="w_ul">
                
                <li style="text-align:justify">Certain Adventure Sports Activities like Paramotoring, All Terrain Vehicles, etc. are provided by various specialised operators appointed by us inside The Tent City. Guests should understand and acknowledge the physical and mental rigours and risk associated with the activities. These adventure sports are inherently dangerous and represent extreme test of a person’s physical and mental conditions. Activities involve risks and dangers which may include, without limitation, the potential for serious bodily injury, sickness and diseases, permanent disability, paralysis and loss of life, loss of or damage to equipment/property, accidents. The Adventure Sports Operators may ask the guests to sign an indemnity in favour of the operator for doing such activities. We at White Rann Camping and Hospitality assume no responsibility whatsoever for the activities and services provided by the operators. We are not responsible for the acts or omissions (including negligence) of those operators. We in no way could be made responsible for any injuries or accidents to anybody doing these activities. The Guest is required to understand the associated risks and competencies of the operators before undertaking these activities.</li>
                <li style="text-align:justify">Please note that the cooling of A.C. in the vehicles will be maintained as per the temperature comfortable to the majority of guest present in the vehicles.</li>
                <li style="text-align:justify">Any amendments with respect to change in check-in dates would attract Rs. 1500/- per Guest+applicable tax on Subject to availability. Any change in guest/guests names would be treated as cancellation and would attract cancellation charges as stipulated. For any amendments/changes, kindly email us</li>
                <li style="text-align:justify">Any incidental, personal and other expenses and cost of items which are not specified/mentioned in the inclusions are to be borne by the guest.</li>
                <li style="text-align:justify">Management is not responsible for the loss of personal belongings of the guest. Guests are requested to take care of their belongings. Guests carrying valuables such as fragile items, money, jewellery, silverware, cameras, electronics / laptop or photographic equipment, antiques, artefacts, work of art, precious metals and other similar valuables at their own risk.</li>
                <li style="text-align:justify">The vehicles used for transfers shall not be at sole disposal of guest.</li>
                <li style="text-align:justify">This is an indicative itinerary & subject to change depending upon circumstances at the sole discretion of management.</li>
                <li style="text-align:justify">In case of late/early transfers for check-out, guests will have to inform while check-in at reception counter for arrangement of vehicle and it will be on a chargeable basis.</li>
                
            </ul>
                    <p style="text-align:justify">Establishment of the Uttar Pradesh Police Recruitment and Promotion Board by the government order dated 02-12-2008 issued by the Government of Uttar Pradesh for direct recruitment and promotion on various non-gazetted posts of the Uttar Pradesh Police, double duty of conducting the selection process according to the rules and procedure of related recruitment. Done on purpose!</p>
                    <p style="text-align:justify">The chairman of this board is a Director General of Police level officer. Two members in the board, officers of the rank of Inspector General of Police are appointed, out of which one member is working as secretary. Two Deputy Inspector General of Police, one Superintendent of Police (Vigilance), one Joint Secretary (Finance), one System Analyst, two Deputy Secretary level officers for direct recruitment and promotion, as Assistant Secretary for direct recruitment and promotion Two Additional Superintendents of Police, 06 Deputy Superintendents of Police and 184 non-gazetted posts are fixed on deputation basis!</p>
                    <p style="text-align:justify">The main focus of the Uttar Pradesh Police Recruitment and Promotion Board is to develop and implement a fair and transparent direct recruitment system under promulgated rules and procedures using the latest technology, so that direct recruitment on the basis of merit can be facilitated!</p>
                    <br>
                    <br>
                    <div class="clearfix"></div>                
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>

@*<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/About"]').parent().addClass('active')
    });
</script>*@