<div class="col-lg-2 pl-md-0 pr-md-0 w-bor-r  pb-50">
    <h2 class="w-bgph ">UPPRPB</h2>
    <div class="collapse show  pt-2 pl-0 min-vh-100" id="sidebar" style="min-height:500px">
        <ul class="nav flex-column flex-nowrap overflow-hidden">
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/Contact">Contact</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/HowToReach">How To Reach</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/EnquiryForm">Enquiry</a></li>
            
        </ul>
    </div>
</div>