@{
    var noticeData = Model as List<UPPRB_Web.Models.Masters.NoticeTypeModel>;
}
<div class="col-lg-2 pl-md-0 pr-md-0 w-bor-r  pb-50">
    <h2 class="w-bgph ">UPPRPB</h2>
    <div class="collapse show  pt-2 pl-0 min-vh-100" id="sidebar">
        <ul class="nav flex-column flex-nowrap overflow-hidden">
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/Manual">Direct Recruitment</a></li>
            @for (int i = 0; i < noticeData.Count; i++)
            {
                <li class="nav-item">
                    <a class="nav-link collapsed py-1" href="#submenu1sub@(i+1)" data-toggle="collapse" data-target="#submenu1sub@(i+1)">@noticeData[i].LookupName</a>
                    <div class="collapse" id="submenu1sub@(i+1)" aria-expanded="false">
                        <ul class="flex-column nav pl-4">
                            @foreach (var item in noticeData[i].NoticeCategories)
                            {
                                <li class="nav-item">
                                    <a class="nav-link p-1" id="btnNotice" href="/Home/Manual_Detail?noticeId=@noticeData[i].LookupId&categoryId=@item.LookupId">@item.LookupName</a>
                                </li>
                            }
                        </ul>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>