@using UPPRB_Web.Models.Masters;
@{
    var noticeType = ViewData["NoticeType"] as List<NoticeTypeModel>;
}
<div class="col-lg-2 pl-md-0 pr-md-0 w-bor-r  pb-50">
    <h2 class="w-bgph ">UPPRPB</h2>
    <div class="collapse show  pt-2 pl-0 min-vh-100" id="sidebar">
        <ul class="nav flex-column flex-nowrap overflow-hidden">
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/PhotoGallery">Photo Gallery</a></li>
            @foreach (var notice in noticeType)
            {
                <li class="nav-item"><a class="nav-link text-truncate" href="#!">@notice.LookupName</a></li>
            }
        </ul>
    </div>
</div>