<div class="col-lg-2 pl-md-0 pr-md-0 w-bor-r  pb-50">
    <h2 class="w-bgph ">UPPRPB</h2>
    <div class="collapse show  pt-2 pl-0 min-vh-100" id="sidebar">
        <ul class="nav flex-column flex-nowrap overflow-hidden">
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/PhotoGallery">Photo Gallery</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="#!">Media</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="#!">Events</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="#!">Newscutting</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="#!">Seminar</a></li>
        </ul>
    </div>
</div>