<div class="col-lg-2 pl-md-0 pr-md-0 w-bor-r  pb-50">
    <h2 class="w-bgph ">UPPRPB</h2>
    <div class="collapse show  pt-2 pl-0 min-vh-100" id="sidebar">
        <ul class="nav flex-column flex-nowrap overflow-hidden">
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/Manual">Manual</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/About_DGMessage">Civil Police</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/About_Vision">Skill Player</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/About_Logo">Police Computer Staff</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/About_OrgStructure">U. P. Police Motor Transport Branch</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/About_GovernmentOrder">Fire Service </a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/About_RTI">Clerical Cadre</a></li>
        </ul>
    </div>
</div>
