<div class="col-lg-2 pl-md-0 pr-md-0 w-bor-r  pb-50">
    <h2 class="w-bgph ">UPPRPB</h2>
    <div class="collapse show  pt-2 pl-0 min-vh-100" id="sidebar">
        <ul class="nav flex-column flex-nowrap overflow-hidden">
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/Notice">Notices</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="#!">General Notices</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="#!">Sub Inspector Notices</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="#!">Constable Civil Police</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="#!">P.A.C.</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="#!">Radio Police</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="#!">Fire Police</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="#!">Jail Police</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="#!">Computer Cadre</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="#!">Ministrial Cadre</a></li>
        </ul>
    </div>
</div>