<div class="form-group">
    <label for="">Patient</label>
    <input type="hidden" value="0" id="_patientId" name="PatientId" />
    <input type="text" name="patientid" autocomplete="off" required="required" id="_txtPatientid" maxlength="50" class="form-control" placeholder="Search Patient Name, Registration No, Mobile No." />
    <ul id="_patientList"></ul>
</div>
<style>
    #_patientList {
        display: none;
        width: 74%;
        max-height: 150px;
        overflow-y: scroll;
        margin: 0;
        padding: 0;
        border: 1px solid black;
        border-bottom: 1px solid transparent;
        position: absolute;
    }

        #_patientList li {
            list-style: none;
            padding: 5px;
            background-color: aliceblue;
            border-bottom: 1px solid;
            cursor: pointer;
        }

            #_patientList li:hover {
                background-color: cornflowerblue;
            }
</style>
<script>
    $(document).ready(function () {

    });

    $(document).on('keyup', '#_txtPatientid', function () {
        if ($(this).val().length > 1) {
            $.ajax({
                url: '/common/SearchPatient',
                method: "post",
                contentType: "application/json",
                data: JSON.stringify({ value: $(this).val() }),
                success: function (data) {
                    var _patientList = $('#_patientList');
                    var _list = "";
                    $(_patientList).empty().show();
                    $(data).each(function (ind, ele) {
                        _list += '<li data-id="' + ele.PatientId + '">' + ele.PatientName + '</li>';
                    });
                    _list = _list == '' ? '<li class="norecord">No Patient Found</li>' : _list;
                    $(_patientList).append(_list);
                },
                error: function (data) {

                }
            })
        }
    });

    $(document).on('click', '#_patientList li', function () {
        if (!$(this).hasClass('norecord')) {
            $('#_patientId').val($(this).data('id'));
            $('#_txtPatientid').val($(this).text());
        }
        else {
            $('#_txtPatientid').val('');
        }
        $(this).parent().empty().hide();
    });
</script>
