<div class="col-lg-2 pl-md-0 pr-md-0 w-bor-r  pb-50">
    <h2 class="w-bgph ">UPPRPB</h2>
    <div class="collapse show  pt-2 pl-0 min-vh-100" id="sidebar" style="min-height:500px">
        <ul class="nav flex-column flex-nowrap overflow-hidden">            
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/Disclaimer">Disclaimer</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/Terms_Conditions">Terms & Conditions</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/Privacy_Policy">Privacy Policy</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/Hyperlink_Policy">Hyperlink Policy</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/Copyright_Statement"> Copyright Statement</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/Site_Security"> Site Security</a></li>
            <li class="nav-item"><a class="nav-link text-truncate" href="/Home/Archiving_Policy"> Archiving Policy</a></li>
        </ul>
    </div>
</div>