@using UPPRB_Web.BAL.Patient
@using UPPRB_Web.Models.Patient
@{
    ViewBag.Title = "Lab Report";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}
<div class="" style="padding-top:20px;">
    <div class="col-sm-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Lab Reports</div>
            <div class="panel-body">
                @{
                    var listReport = Model as List<ReportModel>;
                    if (listReport.Count() == 0)
                    {
                        <div class="col-sm-12 col-lg-12">
                            No Record Found
                        </div>
                    }
                    foreach (ReportModel item in Model)
                    {
                        <div class="col-sm-12 col-lg-12 filecontainer">
                            <div id="file-icon-wrapper" class="icon-wrapper">
                                <img class="icon" id="file-icon" alt="" src="~/img/pdf-icon.jpg">
                            </div>
                            <div id="details1" style="float:right;margin-top:24px;">
                                <a href="~/Patient/GetPDF?fileName=@item.FileName" target="_blank" class="btn btn-primary">Download</a>
                            </div>
                            <div id="details">
                                <span>Report Name : @item.ReportName</span><br />
                                <span>Uploaded On : @item.Date.ToShortDateString()</span>
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    </div>

</div>


<style>
    .filecontainer {
        min-height: 90px;
        border: 1px solid #c1c0c0;
        border-radius: 5px;
        box-shadow: 3px 3px 3px #c1c0c0;
        margin-bottom: 20px;
    }

    .icon-wrapper {
        align-self: center;
        flex: none;
        justify-content: center;
        margin: 0 6px;
        width: 5%;
        align-self: center;
        padding: 25px 0;
        float: left;
    }

    #details {
        width: 80%;
        float: right;
        padding: 11px 0 0 0;
    }

    #file-icon {
        width: 38px;
    }

    .icon-wrapper {
        padding: 13px 0;
    }
</style>