
@{
    ViewBag.Title = "AddDoctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top:50px;">
    <div class="col-sm-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Set Doctor Type
            </div>
            <div class="panel-body">
                <div class="table table-responsive">
                    <form id="form" class="form-horizontal" action="SaveDoctorType" method="post" autocomplete="off">
                        <div class="form-group">
                            <label for="Department" class="control-label col-md-4 col-sm-12 col-xs-12">Select Department<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <select id="Department" class="common-input selectval" name="Department"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="doctor" class="control-label col-md-4 col-sm-12 col-xs-12">Select Doctor<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <select id="doctor" class="common-input selectval" name="doctor"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="doctortype" class="control-label col-md-4 col-sm-12 col-xs-12">Select Doctor Type<font color="FF0000">*</font></label>
                            <div class="col-md-4 col-sm-6 col-xs-6">
                                <select id="doctortype" class="common-input selectval" name="doctortype"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <input type="submit" name="Submit" class="btn btn-primary btn-blue btn-block btn-lg" value="Submit" style="float:right;width:200px;" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        fillDepartment();
        fillDoctorType();
    });
    function fillDepartment() {
        let dropdown = $('#Department');
        dropdown.empty();
        dropdown.append('<option value="">Select</option>');
        dropdown.prop('selectedIndex', 0);
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/Common/GetDepartments',
            async: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data, function (key, entry) {
                    dropdown.append($('<option></option>').attr('value', entry.DepartmentId).text(entry.DeparmentName));
                })
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    $('#Department').on('change', function (e) {
        var valueSelected = this.value;
        fillDoctor(valueSelected)
    });

    function fillDoctor(departmentId) {
        let dropdown = $('#doctor');
        dropdown.empty();
        dropdown.append('<option value="">Select</option>');
        dropdown.prop('selectedIndex', 0);
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/Common/GetDoctorList',
            data: '{deptId: "' + departmentId + '" }',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data, function (key, entry) {
                    dropdown.append($('<option></option>').attr('value', entry.DoctorId).text(entry.DoctorName));
                })
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function fillDoctorType() {
        let dropdown = $('#doctortype');
        dropdown.empty();
        dropdown.append('<option value="">Select</option>');
        dropdown.prop('selectedIndex', 0);
        $.ajax({
            dataType: 'json',
            type: 'POST',
            url: '/Common/GetDoctorType',
            async: true,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data, function (key, entry) {
                    dropdown.append($('<option></option>').attr('value', entry.Id).text(entry.DoctorType));
                })
            },
            failure: function (response) {
                alert(response);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>

<style type="text/css">
    select {
        width: 280px;
    }
</style>