
@{
    ViewBag.Title = "Patient Billing Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/App/Report/BillingReport.js"></script>
<form action="/admin/SetBillingReport" method="post" style="padding-top:50px;" enctype="multipart/form-data">
    <div class="col-sm-4 col-lg-4 col-lg-offset-4">
        <div class="panel panel-primary">
            <div class="panel-heading">Billing Report</div>
            <div class="panel-body">
                @Html.Partial("_PatientSearch")
                <div class="form-group">
                    <label for="">Bill No.</label>
                    <input type="number" name="Billno" id="txtBillNo" required="required" autocomplete="off" maxlength="50" class="form-control" placeholder="Bill No" />
                </div>
                <div class="form-group">
                    <label for="">Bill ID.</label>
                    <input type="number" name="BillID" id="txtBillId" required="required" autocomplete="off" maxlength="50" class="form-control" placeholder="Bill ID" />
                </div>
                <div class="form-group">
                    <label for="">Bill Date</label>
                    <input type="date" name="BillDate" required="required" id="txtBillDate" class="form-control" placeholder="Bill Date" />
                </div>
                <div class="form-group">
                    <label for="">Bill Type</label>
                    <input type="text" name="BillType" required="required" id="txtBillType" autocomplete="off" class="form-control" placeholder="Bill Type" />
                </div>
                <div class="form-group">
                    <label for="">Bill Amount</label>
                    <input type="number" name="BillAmount" required="required" id="txtBillAmount" autocomplete="off" class="form-control" placeholder="Bill Amount" />
                </div>
                @*<div class="form-group">
                    <label for="">Report Path</label>
                    <div class="radio-inline">
                        <label class="radio-inline"><input type="radio" name="ReportPath" id="_file" value="file" checked>File Upload</label>
                        <label class="radio-inline hidden"><input type="radio" name="ReportPath" id="_url" value="url" class="hidden">Enter Url</label>
                    </div>
                </div>
                <div class="form-group file">
                    <label for="">File Upload</label>
                    <input type="file" name="reportfile" id="_fileUpload" class="form-control" />
                </div>
                <div class="form-group url" style="display:none;">
                    <label for="">Report URL</label>
                    <input type="text" name="reporturl" id="reporturl" class="form-control hidden" />
                </div>*@
            </div>
            <div class="panel-footer">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

