
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>

    <!--start wrapper-->
    <div class="wrapper">

        <!--start content-->
        <main class="authentication-content">

            <div class="container-fluid">

                <div class="authentication-card">




                    <div class="card shadow rounded-0 overflow-hidden">



                        <div class="row g-0">
                            <h4 class="mainheading">Preventive Action Cell</h4>

                            <div class="col-lg-6 d-flex align-items-center justify-content-center border-end">
                                <img src="assets/images/enter_mobile.jpg" class="img-fluid" alt="">
                            </div>
                            <div class="col-lg-6">
                                <div class="card-body p-4 p-sm-5">
                                    <h5 class="card-title text-center mb-2 font-20"><strong>Employee User Login</strong></h5>
                                    <p class="card-text mb-3 text-center pt-2" style="    line-height: 30px;">Please enter you Login & Your Password</p>
                                    <form class="form-body">
                                        <div class="row g-3">
                                            <div class="col-12">
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text" id="addon-wrapping"><i class="bx bx-user"></i></span>
                                                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                                                </div>



                                            </div>
                                            <div class="col-12">
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text" id="addon-wrapping"><i class="bx bx-lock"></i></span>
                                                    <input type="pass" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping">
                                                </div>



                                            </div>
                                            <div class="col-4 offset-md-8">
                                                <div class="d-grid gap-3">
                                                    <button type="submit" class="btn  btn-lg btn-primary radius-30">login<i class="bx bx-right-arrow-alt"></i></button>

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!--end page main-->


    </div>
    <!--end wrapper-->
</body>
</html>
