@using DataLayer
@using System.Configuration;
@using UPPRB_Web.Global;

@{
    ViewBag.Title = "Billing Report";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<form action="/Report/DownloadReportFile" method="post" id="_form">
    <div class="" style="padding-top:20px;">
        <div class="col-sm-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Billing Reports</div>
                <div class="panel-body">
                    <input type="hidden" name="fileurl" id="_fileurl" value="" />
                    <div class="table table-responsive">
                        <table class="table table-bordered table-hover table-responsive table-striped" id="labreportTable"></table>
                    </div>
                </div>
                <div class="panel-footer">
                    *SV-Procedure/Diagnostic Billing,
                    *PH-Pharmacy Billing-Refund,
                    *GP-Patient Payment,
                    *GR-Receipt from Patient,
                    *PHR-Pharmacy Return,
                    *SR-Sales Return
                </div>
            </div>
        </div>

    </div>
</form>
<script>
    var _billType = {
        SV: 'Procedure/Diagnostic Billing',
        PH: 'Pharmacy Billing-Refund',
        GP: 'Patient Payment',
        GR: 'Receipt from Patient',
        PHR: 'Pharmacy Return',
        SR: 'Sales Return'
    }
    function getBillType(_type) {
        var billType = _billType[_type];
        return billType === undefined ? 'Not Define' : billType;
    }
</script>
<link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var labreportTable = $("#labreportTable").DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ordering": false,
            "pageLength": 50,
            "ajax": {
                "url": "/Report/GetBillingReportAsync",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "data": "salemode", "name": "salemode", "autoWidth": true, "title": "Bill Date" },
                { "data": "billno", "name": "billno", "autoWidth": true, "title": "Bill No" },
                { "data": "vtype", "name": "vtype", "autoWidth": true, "title": "Bill Type" },
                { "data": "netamt", "name": "netamt", "autoWidth": true, "title": "Amount" },
                {
                    "title": "Action",
                    "render": function (data, type, full, meta) {
                        if (parseInt(full.schemeid) == 0)
                            return '<a id="_view" target="_blank" class="btn btn-primary" href="ViewBillingReport?Id=' + full.godcode + '&type=' + full.vno + '">View/Download</a>';
                        else
                            return '<span></span>';
                    }
                },
            ]
        });

        $("#labreportTable_filter input")
            .unbind() // Unbind previous default bindings
            .bind("input", function (e) { // Bind our desired behavior
                // If the length is 2 or more characters, or the user pressed ENTER, search
                if (this.value.length >= 2 || e.keyCode == 13) {
                    // Call the API search function
                    labreportTable.search(this.value).draw();
                }
                // Ensure we clear the search if they backspace far enough
                if (this.value == "") {
                    labreportTable.search("").draw();
                }
                return;
            });
    });
</script>
<style>
    #labreportTable td, #labreportTable th {
        border-bottom: 0px;
        border-right: 0px;
    }
</style>