
@{
    ViewBag.Title = "HospitalDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DataLayer;
@*<script src="~/Scripts/App/Masters/Department.js"></script>*@
<div class="row" style="margin-top:50px;">
    <div class="col-sm-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Hospital Detail</div>
            <div class="panel-body">
                @using (Html.BeginForm("HospitalDetail", "Masters", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="container">
                        <table style="width:100%">
                            <tr>
                                <td style="width:40%">
                                    <label>Name</label>
                                    <input type="text" name="name" id="name" style="width: 100%;" required />
                                </td>
                                <td style="width:40%">
                                    <label>Logo</label>
                                    <input type="file" name="file1" id="file1" style="width: 100%;" required />
                                    <br />
                                </td>
                                <td style="width:20%">
                                    <input type="submit" name="Save" class="btn btn-primary btn-blue btn-block btn-lg" value="Save" style="width:100px;">
                                </td>
                            </tr>
                        </table>
                    </div>
                }
                <div class="container">
                    <table style="width:100%;">
                        <thead>
                        <th>ID</th>
                        <th>Hospital Name</th>
                        <th>Logo</th>
                        <th></th>
                        </thead>
                        <tbody>
                            @{
                                var hospitals = (List<HospitalDetail>)(ViewData["hospitals"]);
                                if (hospitals != null)
                                {
                                    foreach (var hospital in hospitals)
                                    {
                                        <tr>
                                            <td>
                                                @hospital.Id
                                            </td>
                                            <td>
                                                @hospital.HospitalName
                                            </td>
                                            <td>
                                                @if (hospital.HospitalLogo != null)
                                                {
                                                    var base64 = Convert.ToBase64String(hospital.HospitalLogo);
                                                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                                    <img src="@imgsrc" class="img-responsive" alt="banner" style="width:50px" />
                                                }
                                            </td>
                                            <td>
                                                <a href="#">Edit(not implemented)</a>
                                            </td>
                                            <td>
                                                @Html.ActionLink(
                                                                "Delete",                                                  // linkText
                                                                "DeleteHospital",                                         // actionName
                                                                "Masters",                                                   // routeValues
                                                                new {                                                     // htmlAttributes
                                                                    Id = hospital.Id
                                                                },
                                                                new {
                                                                    @class = "navbar-brand"
                                                                }
                                                            )
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

