@using UPPRB_Web.Global;
@{
    ViewBag.Title = "GetAppointments";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}
<script src="~/Scripts/App/Appointment/Appoint.js"></script>
<div class="" style="margin-top:0px;padding-top:20px;">
    @{
        <input type="hidden" id="hdnAppointmentPeriodInMinuts" value="@WebSession.AppointmentSlot" />
        <input type="hidden" id="hdnAppointmentCancelPeriod" value="@WebSession.AppointmentCancelPeriod" />
        <input type="hidden" id="hdnCalenderPeriod" value="@WebSession.CalenderPeriod" />
        <input type="hidden" id="hdnAppointmentLimitPerUser" value="@WebSession.AppointmentLimitPerUser" />
        <input type="hidden" id="hdnCalenderDays" value="0" />
    }
    <div class="col-sm-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Book Appointment</div>
            <div class="panel-body">
                <div class="pp-card step1">
                    <div class="form-group">
                        <label>Department</label>
                        <select class="form-control" id="ddlDepartments">
                            <option value="">Select Department</option>
                        </select>
                    </div>
                </div>
                <div class="pp-card step2">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-responsive text-center" id="appointTable">
                            <thead>
                                <tr>
                                    <th colspan="7">
                                        <span id="spanDeptName"></span>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="7">
                                        <div class="btn-group pull-left" role="group" aria-label="...">
                                            <button type="button" class="btn btn-default" title="Go to Department selection screen" id="btnStep1">Back</button>
                                            <button type="button" class="btn btn-default" title="Current selected Month-Year" id="lblmonthyear">Previous</button>
                                            <button type="button" id="btnToday" title="Go to Today's Date" class="btn btn-info">Today</button>
                                        </div>
                                        <div class="btn-group pull-right" role="group" aria-label="...">
                                            <button type="button" id="premonth" title="Go to Previous Month" class="btn btn-default">Previous</button>
                                            <button type="button" class="btn btn-success">Available</button>
                                            <button type="button" class="btn btn-danger">Not Available</button>
                                            <button type="button" class="btn btn-warning">Holiday</button>
                                            <button type="button" id="nextmonth" class="btn btn-default" title="Go to Next Month" data-currentmonth="0">Next</button>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="cal-header">SUN</td>
                                    <td class="cal-header">MON</td>
                                    <td class="cal-header">TUE</td>
                                    <td class="cal-header">WED</td>
                                    <td class="cal-header">THU</td>
                                    <td class="cal-header">FRI</td>
                                    <td class="cal-header">SAT</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pp-card step3">
                    <div class="table table-responsive">
                        <table class="table table-bordered table-responsive text-center" id="appointDoctorTable">
                            <thead>
                                <tr>
                                    <th colspan="3">
                                        <div class="btn-group pull-left" role="group" aria-label="...">
                                            <button type="button" data-data="" title="Go to Date selection screen" class="btn btn-info" id="btnStep2">Back</button>
                                            <button type="button" data-data="" class="btn btn-warning" id="spanDepartment">Back</button>
                                            <button type="button" data-data="" class="btn btn-warning" id="spanDate">Back</button>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th class="cal-header" style="width:100px">Sr. No.</th>
                                    <th class="cal-header" style="width:250px">Doctor Name</th>
                                    <th class="cal-header">Available Schedule</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="cal-header">Sr. No.</td>
                                    <td class="cal-header">Doctor Name</td>
                                    <td class="cal-header">Available Schedule</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center" colspan="3">
                                        <span class="pull-left" id="selectAppointmant">
                                        </span>
                                        <div class="btn-group pull-right" role="group" aria-label="...">
                                            <button type="button" data-data="" id="btnGetAppointment" class="btn btn-primary">Confirm Appointment</button>
                                        </div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .cal-available {
        border: 1px solid gray;
        line-height: 17px;
        max-width: 80%;
        border-radius: 5px;
        padding: 0 5px;
        text-align: right;
         font-size: 0.9vw;
        float: right;
        background-color: #5cb85c;
        color: white;
    }

    .cal-not-available {
        border: 1px solid gray;
        line-height: 17px;
        max-width: 80%;
        border-radius: 5px;
        padding: 0 5px;
        text-align: right;
        font-size: 0.9vw;
        float: right;
        background-color: #d2322d;
        color: white;
    }

    .cal-date {
        font-size: x-large;
    }

    .cal-header {
        background-color: #80808085;
        color: black;
        font-weight: bold;
    }

    table tbody tr td {
        border: 1px solid black !important;
    }

    table thead tr th {
        border: 1px solid black !important;
    }

    table thead tr td {
        border: 1px solid black !important;
    }

    table tbody tr {
        border: 1px solid black !important;
    }


    .getApp {
        cursor: pointer;
    }

    .getApp-disable:hover {
        background-color: #ff000096;
    }

    .getApp:hover {
        background-color: lightblue;
    }

    .step2, .step3 {
        display: none;
    }

    .timelabel {
        border: 2px solid #10dc108f;
        max-width: 27%;
        padding: 5px;
        float: left;
        margin: 2px;
        border-radius: 5px;
        background-color: #10dc108f;
        font-size: smaller;
        line-height: 5px;
    }
     .Bookedtimelabel {
        border: 2px solid #d2322d;
    max-width: 27%;
    padding: 5px;
    float: left;
    margin: 2px;
    border-radius: 5px;
    background-color: #d2322d;
    font-size: smaller;
    line-height: 5px;
    color: white;
    }

        .timelabel:hover {
            cursor: pointer;
            background-color: #f7ca26;
        }

    .timelabelActive {
        background-color: #f7ca26;
    }

    .appDate{
            border: 1px solid #0008ff;
    width: 10px;
    height: 10px;
    border-radius: 18px;
    position: absolute;
    background-color: #0008ff;
    }
</style>
